<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="History, photographs, ephemera and more about E. T. & H. K. Ide and the Ide family in Vermont." />
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/flatly.bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="/lib/font-awesome/css/all.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="/lib/lightbox2/css/lightbox.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="/site.css" asp-append-version="true" />
    <script defer src="/lib/jquery/jquery.min.js" asp-append-version="true"></script>
    <script defer src="/lib/twitter-bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script defer src="/lib/lightbox2/js/lightbox.min.js" asp-append-version="true"></script>
    <script defer src="site.js" asp-append-version="true"></script>
    @RenderSection("Head", false)
</head>
<body>
    @RenderBody()
</body>
</html>