<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="History, photographs, ephemera and more about E. T. & H. K. Ide and the Ide family in Vermont." />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/site.css" asp-append-version="true" />
    <script src="~/lib/jquery/jquery.slim.min.js" asp-append-version="true"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js" asp-append-version="true"></script>
    @RenderSection("Head", false)
</head>
<body>
    @RenderBody()
</body>
</html>