@using EtAndHkIde.Infrastructure
@model EtAndHkIde.Infrastructure.Citation
@{
    var citationIcons = new Dictionary<CitationType, string>
    {
        {CitationType.Undefined, ""},
        {CitationType.Book, "<i class=\"fas fa-book mr-1\"></i>"},
        {CitationType.Magazine, "<i class=\"fas fa-book-open mr-1\"></i>"},
        {CitationType.Newspaper, "<i class=\"far fa-newspaper mr-1\"></i>"},
        {CitationType.Pdf, "<i class=\"fa fa-file-pdf mr-1\"></i>"},
        {CitationType.Website, "<i class=\"fas fa-external-link-square-alt mr-1\"></i>"}
    };
}

@if (Model != null)
{
    <a href="@Html.Raw(Model.Url)" target="_blank" rel="noopener noreferrer">
        @Html.Raw(citationIcons[Model.Type])
        @Html.Raw(Model.Name)
        @if (Model.Description.HasValue())
        {
            <br />@Model.Description
        }
    </a>
}
