@{
    Layout = "_BaseLayout";
}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" asp-page="Index">E. T. & H. K. Ide</a>
</nav>
<div class="container">
    @RenderBody()
</div>
