@{
    Layout = "_Layout";
}
@RenderSection("Head", false)

<partial name="_SiteNavbar" model="false" />

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <section class="sidebar">
                <vc:sidebar></vc:sidebar>
            </section>
        </div>
        <div class="col-lg-9 order-first order-lg-last">
            <main>
                @RenderBody()
            </main>
        </div>
    </div>
</div>
