@{
    Layout = "_Layout";
}
@RenderSection("Head", false)

<partial name="_PageBanner" model="false" />

<div class="container mt-3">
    <div class="row mb-3">
        <div class="col-12">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9">
            @RenderBody()
        </div>
        <div class="col-lg-3 mt-md-3">
            <partial name="_Sidebar" />
        </div>
    </div>
</div>
