<ul>
    <li><a asp-page="/LettersFromFlorida/Savannah">From New York To Savannah, Jan 9 1876</a></li>
    <li><a asp-page="/LettersFromFlorida/Woodland2">Woodland, Jan 1876</a></li>
    <li><a asp-page="/LettersFromFlorida/Woodland3">Woodland, Jan 24 1876</a></li>
    <li><a asp-page="/LettersFromFlorida/Woodland1">Woodland, Feb 7 1876</a></li>
</ul>