@page
@model EtAndHkIde.Pages.Articles.DisastrousFireAtPassumpsic1883Model
@{
    ViewData["Title"] = "Disastrous Fire at Passumpsic";
}

<h1>Disastrous Fire At Passumpsic</h1>

<h2>Disastrous Fire at Passumpsic, The Business of the Village Wiped Out</h2>
<p>On <abbr title="October 7, 1883">Sabbath morning</abbr>, about three o’clock, fire broke out in the Cushman pulp-mill at Passumpsic, and in about two hours that mill, a saw-mill connected, the rake-factory of Smith &amp; Galbraith, and the flouring mill of E. T. &amp; H. K. Ide, were all totally destroyed. The included all the manufacturing of the village. After fighting the fire for about one hour, a messenger was dispatched to St. Johnsbury, where an alarm was sounded and a portion of the fire department responded with <a href="http://www.stjvt.com/index.php/history-of-church/27-torrent-engine-company-no-1.html" target="_blank">Torrent engine</a>, but before the engine had gone far, a telephonic message announced that the fire had spent itself and help of that nature would be no avail.</p>
<p>The fire was discovered about the chimney of the pulp-mill by two men who were in the building “cleaning up” after the workmen had quit at twelve o’clock. The men went for help, but it was so long before people could be aroused that the mill was completely in flames before much help arrived. The flames spread to the saw-mill, then to the rake-factory and thence to the grist-mill, where the fire was stopped. Considerable stock in the mill was saved, and nearly all the machinery and stock in the rake factory might have been saved had not Mr. Galbraith locked the doors and urged the people to spend their energies in saving the building instead of removing the contents.</p>
<p>The pulp-mill was owned by George Cushman of Passumpsic and Francis A. Cushman of Lebanon, N. H., and was insured, building and machinery, for $5,600, which amount will replace the plant, yet their loss is considerable in interruption of business, etc. The rake-factory was owned by Hugh Smith and Walter Galbraith, and there was no insurance on either building or contents. Their loss must be between two and three thousand dollars, and it falls heavily upon men who are little able to bear it. The loss of E. T. &amp; H. K. Ide will reach $6,000 and their insurance is $3,000. Jacob Ide, the father of the owners of the mill, and the owner before them, was present at the fire and worked hard at saving the property. He came to Passumpsic seventy years ago, and his father before him was the miller at this same mill.</p>
<p>The fire evidently caught from an over-heated chimney or stove funnel. It is not known if any of the works destroyed will be re-built. It is an excellent water-power, and there is talk that a large pulp-mill company may purchase the entire power. In any event it is quite a blow to the business prosperity of the little village of Passumpsic, which had for the last year or two been “picking up” considerably. About a dozen men with families are thrown out of employment.</p>

<p><cite>The following two items were published in the following weeks' edition of the <a href="http://chroniclingamerica.loc.gov/lccn/sn84023253/1883-10-19/ed-1/seq-3/" target="_blank">Caledonian, October 19, 1883</a>.</cite></p>

<hr>
<p>Mr. Editor: -- The Caledonian of last week, in the article on the fire at Passumpsic, said that more could have been saved from Smith &amp; Galbraith’s shop had not Mr. Galbraith locked the door. On his way down, Mr. Galbraith saw that the fire was serious and that the only way to save the shop and grist-mill was to stay it at the saw-mill, at once told the men there to tear the mill down, then went directly and opened the doors at both ends of the shop, took one of the ladders which we had and put it up on the saw-mill, then with help got the other two and put them on the shop, leaving the doors open from the first going-in, and we have no fault to find at all.</p>
<p>Smith &amp; Galbraith</p>
<hr />
<p>A CARD.</p>
<p>We take this method of returning thanks to our friends in Passumpsic and vicinity for the efforts made to save our mill and contents during the disastrous fire of the 7th <abbr title="Instante mense - the current month">inst.</abbr> We also feel very grateful for the many expressions of sympathy we have received.</p>
<p>In this connection we will state to answer to many inquiries that for the present we shall keep for sale in our warehouse near the R. R. Station a full stock of flour meal, grain and feed of all kinds which we shall sell at as low prices as can be found elsewhere. Mr. H. A. Beerworth, the station agent, has kindly consented to act as our agent for the time being. The telephone has been placed in the office at the station so that any one can communicate with us directly at any time during business hours.</p>
<p>E. T. &amp; H. K. IDE.<br>St. Johnsbury, Vt., Oct. 8, 1883</p>

