@page
@using EtAndHkIde.Pages.Shared
@{
    ViewData["Title"] = "E.T. Ide In Indiana";
}

@section Sidebar
{
    <partial name="_SidebarCitation" model="@(new SidebarCitationViewModel(SidebarCitationViewModel.CitationType.Magazine, "https://books.google.com/books?id=eso0AQAAMAAJ&amp;pg=PA110#v=onepage&amp;q&amp;f=false", "American Miller<br/>February 1914"))"/>
    <p>
        <a href="https://books.google.com/books?id=eso0AQAAMAAJ&amp;pg=PA110#v=onepage&amp;q&amp;f=false" target="_blank"><i class="fas fa-book-open mr-2"></i>American Miller<br/>February 1914</a>
    </p>
}

<h1>E.T. Ide In Indiana</h1>

<p>In 1865, E. T. Ide went west to Indiana to work as a millwright. This is related in <em>Millers for Five Generations</em>:</p>
<blockquote class="blockquote">
    <p>Under these conditions the mill could not he operated profitably. E. T. Ide decided he needed more knowledge of western methods and equipment. In 1865 he went “west” to Crawfordsville, Indiana, where he worked for several months as a miller and millwright. When he returned he was ready to go to work building a business in the hills of Vermont.</p>
</blockquote>
<p>I don't know why E. T. went to Indiana, but I suspect that there was a significant change in the family dynamic when H. K. Ide returned from his service in the Civil War. E. T. had hired a substitute instead of serving and the substitute quickly and predictably deserted. William Ide's <em>Recollections</em> describes his father's trip west differently:</p>
<blockquote class="blockquote">
    <p>The little old mill did not seem capable of supporting a family, so he went to Crawfordsville, Indiana, and worked at the millwright trade, intending to get established and then have his family join him. It did not work out well, and he was taken with a serious sickness. He got home somehow, I never knew how, and ever after seemed contented to stay there.</p>
</blockquote>
<p>William Ide writes very plainly in <em>Recollections</em>, and <em>Millers for Five Generations</em> is in large part a promotional piece, so I believe William's account that his father intended to establish his own name in Indiana. Fortunately, there is a first-hand account of E. T.'s time in Indiana, reproduced below from the <a href="https://books.google.com/books?id=eso0AQAAMAAJ&amp;pg=PA110#v=onepage&amp;q&amp;f=false" target="_blank">February 1914 edition of The American Miller</a>. In his letter, he states that he was offered a comfortable salary as head miller but "conditions at home" caused him to return to Vermont. My guess is that the conditions he alludes to may be that his father, Jacob, wanted to sell the mill. Jacob seemed to have little interest in milling or hard work for that matter.</p>

<hr />
<div class="float-right ml-3">
    <vc:image-card name="Old_Mill_at_Cataract_Falls_Owen_County_Indiana.jpg"></vc:image-card>
</div>
<p><strong>SCRAPS FROM MEMORY</strong></p>
<p><em>Editor American Miller:</em></p>
<p>Although our concern is over 100 years old, the writer's memory is only good concerning occurrences of the last 70 years, and fortunately so, for only a small fraction of these Is distinct.</p>
<p>Some time ago the "American Miller" published a cut, under title of "How Dear to the Heart," of the old mill at Cataract, Owen County, Ind. What a "cataract" of memories this started. In 1865 I worked some weeks as millwright, remodeling this mill. It was a going concern then, owned by Foster &amp; Fullerton, who had a larger mill at Richmond, Ind. We boarded with the agent of the mill, Mr. Small, one of whose children was a small boy who had split his knee with a broadaxe. A few years ago I was visited by W. H. Small of Evansville, now a prosperous dealer in seeds and grain. Eventually he was identified as the same small boy.</p>
<p>For more than forty years I had never heard a word from Cataract since I left there sick with the "shakes."</p>
<p>When In Richmond, Ind., I visited the millstone factory of Nordyke &amp; Son. I had never heard of this firm before; but now the name has become a household word among millers the world over. The Nordykes were building a mill In Crawfordsvllle for Mann, Allen &amp; Co. I was employed on some millwright work and finally engaged as head miller, and in this capacity started the mill and ran it for several months. Conditions at home caused me to give up this job with an offer of the princely salary of $1,000 per year. I visited mills In Indianapolis, Cloverdale, Bloomington and Greencastle. In the latter my schoolmate, H. H. Bingham, got caught in a conveyor, breaking his arm in several places and lacerating it badly.</p>
<p>So many changes have developed since then that I cannot give the list, but although other matters have absorbed most of my time of late years I still feel myself a dusty miller and try to keep Informed on milling methods. I read with great Interest the milling papers, including the "American Miller."</p>
<p>One of the remarkable changes in the grain trade seems to me to be the change of James A. Patten from his little office at White River Junction, Vt., to present kingship in the grain markets of the country.</p>
<p>Yours truly, E. T. IDE.</p>

