@page
@model IdeMillersOfStJohnsburyBeganIn1813Model
@{
    ViewData["Title"] = Model.Title;
}

    <div class="card-deck mb-3">
        <div class="card">
            <img class="card-img-top" src="~/articles/IdeMillersOfStJohnsburyBeganIn1813/idemillersofstjohnsburybeganin1813-1.jpg" />
            <div class="card-body">
                <div class="card-text">Present E. T. & H. K. ide mill is on Bay Street, St. Johnsbury.</div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="~/articles/IdeMillersOfStJohnsburyBeganIn1813/idemillersofstjohnsburybeganin1813-2.jpg" />
            <div class="card-body">
                <div class="card-text">First Ide mill, dark building in left center, was at Passumpsic.</div>
            </div>
        </div>
    </div>

<h1>@Model.Title</h1>
<p class="h4">By Tennie Toussaint</p>

<p>Five generations of members of one family operating the same business, totaling 150 years of continuous operation, is the record of the E. T. & H. K. Ide Inc., millers here.</p>
<p>This is the record which surpasses all other companies under same-family management in Vermont, and perhaps in the country.</p>
<p>The company received the AIV Century Award Oct. 29, 1953 (then well over the century mark) at a meeting of the Associated Industries of Vermont in Woodstock.</p>
<h2>Began in 1813</h2>
<p>It all began in 1813, when Timothy Ide, son of John Ide, Revolutionary soldier and pioneer, sold his farm in Lyndon and purchased the grist mill in Passumpsic Village on the banks of the Passumpsic River.</p>
<p>Today the main Ide plant is located on Bay Street, in St. Johnsbury, with branch stores in Passumpsic, Fairlee, West Barnet, Danville, and North Danville. The latter also includes a general grocery store.</p>
<p>All stores are within a 50 mile radius of St. Johnsbury, and supply hundreds of farmers in the area with grain and feed.</p>
<p>Twenty-eight people are employed by the company, some who have served 45, 40, and 35 years. Some have reached the half century mark in the past. Present operators of the branch stores are: West Barnet, Clayton Rose; Passumpsic, Fred Wright; Fairlee, Bert Allen; Danville, Wallace Mackay; and North Danville, Raymond Lock Sr.</p>
<h2>'Successful Risk'</h2>
<p>RIchard Ide, president and manager, says, "We were the first millers in this part of New England to buy western whole grain in carload lots, a practice which was considered a great risk in 1880. It has proved to be a successful risk over the years."</p>
<p>The Ides are essentially millers, and still do custom grinding and mixing of corn, oats and barley at the large mill here and the smaller one in Fairlee. They also manufacture livestock, dairy and poultry feeds, to include five special brands of dairy rations, poultry starter and laying mash, and pig and horse rations.</p>
<p>Seventy-five percent of the grain is dairy feed. They also handle the "Blue Seal" feeds manufactured by H. K. Webster Co. of Lawrence, Mass., and Richford, Bt., which allows their customers a choice of feed brands.</p>
<p>The early grist mills ground local farmers' wheat into flour which the housewives made into a dark bread.</p>
<p>Soon after the Civil War a new white "York" flour was brought in from the Midwest, which was much in demand by the housewives. The situation caused the raising of wheat in this area to be almost abandoned. Ide's therefore, could not operate at a profit.</p>
<p>In 1865 <a asp-page="/Articles/ETIdeInIndiana">Elmore T. Ide went to Crawfordsville, Ind.</a>, where he worked for several months learning to manufacture the new "white" flour. In 1866 the mill, under the partnership of E. T. & H. K. (Horace Knights) Ide, was remodeled to include new equipment for production of white flour from western wheat. Popular flour brands turned out by Ide's were "Pearl Drop," "Sea Foam," and "Golden Sheaf."</p>
<h2>Equipment Changed</h2>
<p>Grinding was done with millstones until about 1890, when the equipment was changed to roller and attrition mills. The first stones were of granite, and later buhr stones from France, much harder and tougher, were used.</p>
<p>Water-driven wooden wheels furnished the power to crush grain between the millstones into flour or meal. The stones required "dressing" when they became worn and there was rivalry between millers in those days as to whom "was the best hand to dress a stone."</p>
<p>Richard Ide has an old family millstone hammer in his office used to dress the stones in days gone by. "It makes a good paperweight," he says.</p>
<p>Regarding today's business he says: "Actually, the only major change during the past 10 years is that we are buying more and retailing it instead of producing all our own brands. We are pioneers in bulk handling of grain in this area of Vermont. We began bulk handling in 1947, and have continued to be interested in that method of merchandising ever since."</p>
<p>"We were able to convert the plant very easily to make the change over to bulk handling by using the equipment we had. The grain is stored in large bins in the mill, filled from bulk hopper cars. Then bulk trucks are filled and taken to the farmer's barns, where it is blown right into their own bins. Pellet poultry grain is also handled in the same way. We have greatly increased the capacity of the plant by handling pellet grain, which we buy."</p>
<p>"We have expanded the business over the years to include coal, farm hardware, seeds, and phosphates, and garden seeds and supplies. We are continually trying to expand in the line of allied products that goes with grain."</p>
<p>"We are a curious mixture of old and new, and this is a point I would like to stress. While we are old we like to think of ourselves as young, in that we are ever interested in new and better ideas of merchandising grain."</p>
<p><a asp-page="/Articles/Recollections" asp-fragment="the-mill">The late William A. Ide had this to say</a>: "The miller likes his work and takes pride in it. He likes the sight and the feel of good grain. He can tell at a glance the quality, and, if there is one kernel of damaged corn or one wild oat in a sample, he will detect it instantly. He likes the noise of the mill and his ear is tuned to it, so that he instantly notices any change in its speed; he even likes the fine white dust from the grinding. It smells good and it tastes good, and it gives his lungs something to work on."</p>
<p>In 1869, E. T. Ide opened a branch store in St. Johnsbury, and in 1879 established the business headquarters there. During the winter of 1883, the original Ide mill at Passumpsic burned and was replaced the next summer with a more modern mill.</p>
<h2>Was Swamp Land</h2>
<p>About 1900 Ide purchased the site of the present large St. Johnsbury mill, which was swamp land. After filling in the swamp the first building, an elevator and storehouse, of the present plant was erected in 1900. In 1904 the Passumpsic mill was again lost by fire.</p>
<p>As the St. Johnsbury mill did no grinding, an old mill in Lyndon was bought and put into operation. It also burned before the year ended.</p>
<p>In 1905, a new mill, fourth in the history of the business was erected adjacent to the new elevator built the year before, This mill contained all modern machinery and equipment, powered by electricity. Again, in 1927 a two-story warehouse was added to the elevator building. During the 1927 flood water was six feet deep in the mill, causing the loss of much spoiled grain.</p>
<h2>Stores 35,000 Bushels</h2>
<p>Today the Ide mill can store 35,000 bushels of bulk grain, 1,500 tons of sacked feed, and has the capacity for grinding and mixing 3,000 bushels of products daily.</p>
<p>After Timothy Ide's death in 1839, Jacob, one of his 12 children, became the Ide miller. Jacob imported the first buhr stones and built the first grain elevator in this area. He had three sons: Elmore T., the business man; Horace K., the soldier; and Henry C., lawyer and diplomat.</p>
<p>Elmore T. took charge of the business in 1861, and in 1866 the two brothers formed the partnership of E. T. & H. K. Ide. After his brother's death in 1897, Elmore T. was manager of the company until his death in 1923, after 62 years of active family business leadership. William A., the youngest son of Elmore T. then became active president of the company. Since his death in 1958, Richard E. has become president and manager of the company.</p>
<p>Richard is conducting the family miller business according to the practices and policies of his forefathers, which include honest business transactions, and friendly personal contacts with the dealers from whom he buys and his customers.</p>
<p>He credits the success of the company to the loyal and energetic teamwork by the employees over a long period of years.</p>
<p>Richard has been affiliated with the business 31 years. He is a veteran of World War II.</p>
<h2>Have Four Children</h2>
<p>His wife is the former Margaret Pearl of St. Johnsbury, and the have four children: John Timothy, who is in the Army in Oklahoma; William A., student at the University of Vermont; Mary E., a sophomore in Danville High School; and Robert D., in sixth grade at Danville.</p>
<p>The family has lived in Danville Green since 1941, when the bought the old Marshall Stocker residence. When asked why they came to Danville to live, Richard answered, "Oh, I guess we were looking for the wide open spaces, and Danville was it."</p>
<p>"John Timothy will be out of the service in August and he is definitely interested in the Ide business, and expects to come into it, making the sixth generation of Ide millers," Richard remarked proudly.</p>
