@page
@model EtAndHkIde.Pages.Articles.PassumpsicRiverMillEnds152YearCareerModel
@{
    ViewData["Title"] = Model.Title;
}

<h1>Passumpsic River Mill Ends 152-Year Career</h1>
<p class="h4">By Ernie Tucker</p>

<p>After 152 years of continuous operation, the E. T. and H. K. Ide Company no longer does business here.</p>
<p>Last Saturday the firm closed its doors on the banks of the Passumpsic River where it had been a grain supplier and miller for area residents.</p>
<p>Richard Ide, president of the firm, said this was just another move in centralization of the firm which started in Passumpsic, less than 100 yards from where their branch office now stands.</p>
<p>The firms headquarters were moved to St. Johnsbury shortly before the turn of the century, and there have been moves to modernize the firm in conjunction with farming practices.</p>
<p>Ide, the fifth generation to control the company, said this is the second branch office to be closed in less than a year to streamline the company.</p>
<p>"We hated to close it," Ide said, "mostly because of sentimentality."</p>
<p>He cited the old branch office as valuable in past years when transportation was mostly by horse and cart and when farmers brought their mile to the adjacent creamery in the morning, and picked up a couple sacks of feed at the store.</p>
<p>In recent years, he noted, farmers order full car loads which are shipped directly from the mill on Bay Street in St. Johnsbury. The billing has been done through the Passumpsic Branch.</p>
<p>A branch office of North Danville was closed last fall, and three other branch offices remain active, one in Danville, Fairlee and West Barnet.</p>
<p>The branch office in Passumpsic was once an active store &mdash; even though the mill had been moved to St. Johnsbury.</p>
<p>A spur track on ce brought freight car loads of grain to the store which set back from the river, but the flood of 1927 took a house, blacksmith shop and the spur track with it. The store now sits practically on the bank of the river.</p>
<p>Business continued to decline over the years, and the firm partitioned off the building three years ago to lease the rear portion of it to the Harran Moving and Storage Co. The moving company will now lease the entire building.</p>
<p>The history of the Ide Co. has been one of success and growth.</p>
<p>In 1813, Timothy Ide, son of John Ide, Revolutionary soldier and pioneer, sold his farm in Lyndon and bought the grist mill at Passumpsic on the banks of the Passumpsic River, a few miles north of its junction wil the Connecticut River. This mill was built about 1789 with wooden equipment, millstones, and water power.</p>
<p>In 1839, Jacob Ide became the miller in his father's footsteps. In 1861, Jacob's son, Elmore T. took charge of the mill at the age of 22, and in the year the mill building and machinery were brought up to date.</p>
<p>In this period the demands of the public changed. Native grist wheat practically disappeared while housewives clamored for the new white flour being shipped in from the midwest.</p>
<p>E. T. Ide decided he needed more knowledge of western processes and went to Indiana for several months where he worked as a miller and millwright. When he return he was ready to rejuvenate the business in Passumpsic.</p>
<p>Meanwhile, Horace K. Ide, E. T.'s brother, returned from the Civil War after seeing four hard years of service in the cavalry.</p>
<p>In 1866, Elmore T. and Horace K. Ide took over the business and formed the partnership of E. T. and H. K. Ide Company.</p>
<p>The mill was again remodeled and new equipment installed to produce white flour from western wheat. Soon the Ide mill brands of Sea Foam, Pearl Drop and Golden Sheaf flour became popular among housewives throughout northern Vermont and New Hampshire.</p>
<p>In 1869 a branch store was established in St. Johnsbury in the Ward Block, and later moved to 20 and 22 Easter Ave. This store did business in both grain and groceries and was later expanded to include coal sheds and a storehouse across the railroad tracks.</p>
<p>In 1879, E. T. Ide move to St. Johnsbury, bringing the headquarters of the business with him. The mill remained at Passumpsic.</p>
<p>Fire &mdash; a hazard which hit more than once &mdash; destroyed the original mill in 1883. By the summer of 1883, a new mill was built on the site of the old. The partners decided that grinding grain and feed to meet the demands of farmers offered the best prospects for the future, so an up-to-date corn mill was installed with a railroad siding leading up to the door.</p>
<p>In 1897, H. K. Ide died while on his way home from Florida, leaving the entire business to E. T. Ide and his family.</p>
<p>Shortly before the turn of the century, E. T. Ide purchased three acres of what was called worthless land just north of the railroad station in St. Johnsbury.</p>
<p>The land was filled and in 1900 the main plant and offices were constructed. To this day the plant stands there, gradually spreading over the land area.</p>
<p>In 1904, the mill at Passumpsic, which did all the grinding, caught fire from the pulp mill and burned to the ground. Again the miller was without a mill.</p>
<p>A mill was essential to keep the business going.</p>
<p>To serve as a stopgap, an old mill in Lyndon was purchased, overhauled and put into operation.</p>
<p>No sooner had it begun to produce, than sparks from a passing locomotive kindled the building, and the firm, for the second time in a year, was without a mill.</p>
<p>The mill site and power rights on the river were sold to the St. Johnsbury Electric Company, and is now used as a power source for the Central Vermont Public Service Corp.</p>
<p>A branch office and store were built across the street from the old site, and are in the same building which closed last Saturday. Fred W. Wright, manager of the Passumpsic Branch for 30 years, will continue his service at the St. Johnsbury plant.</p>
<p>A new mill was constructed in St. Johnsbury in 1905 &mdash; and is the same mill which is operating today.</p>
<p>In 1900 the fourth generation of the family went to work in the mill. William A. Ide, youngest son of E. T. Ide, subsequently took over the mill to be succeeded by Richard Ide, present president. J. Timothy Ide, Richard's son, and the sixth generation to enter the firm, joined the business in 1963.</p>
<p>Although the firm has continued a phenomenal record of growth over 152 years, the Ide business no longer exists in Passumpsic &mdash; the birthplace of a long record of service in milling to area residents.</p>