@page
@{
    ViewData["Title"] = "Passumpsic Mill Photos";
}

<h1>Passumpsic Mill Photos</h1>

<h2>View component 1</h2>
<vc:image-gallery path="/images/PassumpsicMillPhotos"></vc:image-gallery>
<h2>View component 2</h2>
<vc:image-gallery path="/images/RandallArmorPhotos"></vc:image-gallery>
