@page
@model RandallArmorPhotosModel
@{
    ViewData["Title"] = Model.Title;
}

<h1>@Model.Title</h1>

<vc:image-gallery-carousel></vc:image-gallery-carousel>

<div class="alert alert-info mt-2">
    Photographs courtesy of <a href="http://www.armorfoto.com">Randall Armor</a> &copy; 2013
</div>