@model EtAndHkIde.Infrastructure.PageMetadata

<p>
    @if (Model.IsHighlight)
    {
        <i class="fas fa-star mr-1" title="Highlight page"></i>
    }
    @Model.Description
</p>
<p>Published @Model.PublishDate?.ToShortDateString()</p>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Tags</h5>
        <ul class="list-group list-group-flush">
            @foreach (var tag in Model.Tags)
            {
            <li class="list-group-item">
                <i class="@tag.TagType.Icon mr-1 tag-type"></i>@tag.Name
            </li>
            }
        </ul>
    </div>
</div>
