@using EtAndHkIde.Infrastructure
@model EtAndHkIde.Infrastructure.ImageMetadata

@if (Model == null)
{
    <div class="card">
        <div class="card-img-top text-center text-warning">
            <i class="fa fa-question fa-5x p-4"></i>
        </div>
        <div class="card-body">
            <p class="card-text small">The requested image was not found.</p>
        </div>
    </div>
}
else
{
    <div class="card">
        <img class="card-img-top" src="@Model.Path" alt="@Model.Title" />
        <div class="card-body">
            <p class="card-text small">@Model.Description</p>
            @if (Model.Copyright.HasValue())
            {
                <p class="small text-right"><cite>@Model.Copyright</cite></p>
            }
        </div>
    </div>
}
