@page
@model EtAndHkIde.TimelineModel
@{
    ViewData["Title"] = "Timeline";
}

<h1>Timeline</h1>

<table class="table table-striped">
    <tr>
        <td>3/27/1965</td>
        <td>Passumpsic branch store closed.</td>
    </tr>
</table>