@page
@model EtAndHkIde.Pages.Blog.WelcomeToTheNewSiteModel
@{
    ViewData["Title"] = Model.Title;
}

<h1>@Model.Title</h1>

<p class="lead">It isn't exactly what I envisioned but it will grow and change over time. I have a lot of material to add and my goal is to add at least one new thing a week.</p>
<p>Currently, most of the content is stuff I pulled over from the old site but two noteworthy additions are <a asp-page="/Images/RichardIdeWorldWarTwoPhotos">Richard Ide World War II Photos</a> and <a asp-page="/Pages/ToFatherAndMother">To Father and Mother</a>.</p>

