@page
@model EtAndHkIde.Pages.AboutModel
@{
    Layout = "Shared/_NavbarLayout";
    ViewData["Title"] = "About";
}

<div class="row">
    <div class="col-8 offset-2">
        <main>
            <h1 class="d-flex justify-content-between mb-5">
                <span>About</span>
                <i class="fas fa-info"></i>
            </h1>
        </main>
    </div>
</div>

