@page
@model EtAndHkIde.Pages.AboutModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "About";
}

<partial name="_PageBanner" />
<div class="container mt-3">
    <div class="row">
        <div class="col-8 offset-2">
            <h1>About</h1>
            <p>The story of the Ide family in Vermont begins shortly after the Revolutionary war and continues to this day. This site exists to gather, present and preserve that story for all to enjoy.</p>
        </div>
    </div>
</div>

