@page
@using EtAndHkIde.Infrastructure
@model EtAndHkIde.Pages.AboutModel
@{
    Layout = "Shared/_NavbarLayout";
    ViewData["Title"] = "About";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <main>
            <h1 class="d-flex justify-content-between p-2 mb-2">
                <span>About</span>
                <i class="@Icons.About"></i>
            </h1>
        </main>
    </div>
</div>

