@page
@model EtAndHkIde.Pages.ContentsModel
@{
    ViewData["Title"] = "Contents";
}

<h1>Contents</h1>

<ul>
    @foreach (var contentPage in Model.ContentPages)
    {
        <li>
            @contentPage.Path
        @if (contentPage.ContentItems.Any())
        {
            <ul>
                @foreach (var contentItem in contentPage.ContentItems)
                {
                    <li>@contentItem.Path : @contentItem.FileName</li>
                }
            </ul>
        }
    </li>
}
</ul>

