@page
@model EtAndHkIde.Pages.DraftsModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Drafts";
}

<partial name="_PageBanner" />
<div class="container mt-3">
    <div class="card-columns">
        @foreach (var draft in Model.Drafts)
        {
            <partial name="_PageMetadataCard" model="draft" />
        }
    </div>
</div>
