@page
@model ElmoreAndCynthiaFamilyPortraitModel

<figure>
    <a href="/pages/ElmoreAndCynthiaFamilyPortrait/e-t-ide-family-portrait.jpg">
        <img src="/pages/ElmoreAndCynthiaFamilyPortrait/e-t-ide-family-portrait.jpg" class="figure-img" />
    </a>
    <figcaption class="figure-caption">
        <p>Elmore and Cynthia Ide's family portrait circa 1895. Clockwise from top left:</p>
        <p>Henry Clay Ide II, 1869 - 1907. Henry was a physician who died young due to heart problems.</p>
        <p>Fanny Knight Ide (Sprague), 1876-1942. Fanny was an artist and illustrator and married Oliver M. W. Sprague, a Harvard University professor of economics.</p>
        <p>George Peabody Ide, 1867-1967. George was a very successful businessman, although he almost bankrupted his father in the process.</p>
        <p>Katharine Darling Ide (Gray), 1863-1950. Katharine was a founder of <a href="http://www.maplegrove.com/content_about_vermonter.asp" target="_blank">Maple Grove Farms</a> and married George M. Gray, who joined the business in 1888 and was instrumental in building it.</p>
        <p>Mary Ellen Ide (Gates), 1871-1963. Mary Ellen was the second wife of <a href="http://www.nga.org/cms/home/governors/past-governors-bios/page_vermont/col2-content/main-content-list/title_gates_charles.html">Charles Winslow Gates</a>, who was Governor of Vermont from 1915-1917. (n.b. I am not completely sure about that).</p>
        <p>William Adams Ide, 1881-1957. William Adams succeeded E. T. Ide in the presidency of E. T. &amp; H. K. Ide.</p>
        <p>Elmore Timothy Ide, 1839 - 1923.</p>
        <p>Cynthia Lois Adams Ide, 1844-1916. Cynthia was the only child of William and Mary Felch Adams.</p>
    </figcaption>
</figure>

