@page
@{
    Layout = "_Layout";
    ViewData["Title"] = "Error";
}

<partial name="_PageBanner" />
<div class="container">
    <div class="col-8 offset-2">
        <h1>Error</h1>
        <p class="lead">An unexpected error occurred.</p>
    </div>
</div>
<h1>Error</h1>

