@page
@using EtAndHkIde.Pages.Shared
@model IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "E.T. & H.K. Ide";
}
@section Head{
    <script>
        $(function () {
            var siteState = etandhkide.getState();
            if (siteState.home.pagesTab) {
                $(`#pages-links > a[href="${siteState.home.pagesTab}"]`).tab('show');
            }
            $('#pages-links').on('shown.bs.tab', function (e) {
                siteState.home.pagesTab = $(e.target).attr('href');
                etandhkide.setState(siteState);
            })
        });
    </script>
}

<div class="mb-3">
    <div style="background-color: black;">
        <img src="/assets/logo.jpg" class="d-block m-auto" />
    </div>
    <div id="banner" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block img-fluid w-100" src="/assets/banner1.jpg" />
            </div>
            <div class="carousel-item">
                <img class="d-block img-fluid w-100" src="/assets/banner2.jpg" />
            </div>
            <div class="carousel-item">
                <img class="d-block img-fluid w-100" src="/assets/banner3.jpg" />
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">The Mill</h1>
        <p class="lead text-center"><i class="fas fa-quote-left mr-2"></i>It all began in 1813, when Timothy Ide, son of John Ide, Revolutionary soldier and pioneer, sold his farm in Lyndon and purchased the grist mill in Passumpsic Village on the banks of the Passumpsic River.<i class="fas fa-quote-right ml-2"></i></p>
        <p class="lead text-center">Seven generations of the Ide family have worked at the milling trade since 1813. It served us well and we served the hill farmers of Vermont's Northeast Kingdom well for nearly two hundred years.</p>
        <p>The mill was central to our lives and livelihood, and the brightly lit sign was a St. Johnsbury landmark that we never failed to gaze at in passing. The Mill and the Old Man of the Mountain, in nearby Franconia Notch, were contemporaries and a stark reminder that whether built by man or nature, nothing lasts forever. The purpose of this site is to chronicle the remarkable history of E.T. &amp; H. K. Ide and the Ide family in Vermont with the goal of keeping the memories alive.</p>
    </div>

    <nav class="nav nav-pills nav-fill nav-justified mb-3" id="pages-links">
        <a class="nav-link active h5" href="#recent-pages" data-toggle="pill">
            <strong>RECENT</strong>
        </a>
        <a class="nav-link h5" href="#feature-pages" data-toggle="pill">
            <strong>FEATURES</strong>
        </a>
        <a class="nav-link h5" href="#photo-pages" data-toggle="pill">
            <strong>PHOTOS</strong>
        </a>
        <a class="nav-link h5" href="#all-pages" data-toggle="pill">
            <strong>ALL</strong>
        </a>
        @if (Model.IsDevelopment)
        {
            <a class="nav-link h5" asp-page="Drafts">
                <strong>DRAFTS</strong>
            </a>
        }
    </nav>
    <div class="tab-content" id="pages-tabs">
        <div id="recent-pages" class="tab-pane fade show active">
            <div class="card-columns">
                @foreach (var pageMetadata in Model.RecentPages)
                {
                    <partial name="_PageMetadataCard" model="pageMetadata" />
                }
            </div>
        </div>
        <div id="feature-pages" class="tab-pane fade">
            <partial name="_PageMetadataCardsPaged" model="@(new _PageMetadataCardsPagedViewModel("feature-pages", Model.FeaturePages))" />
        </div>
        <div id="photo-pages" class="tab-pane fade">
            <partial name="_PageMetadataCardsPaged" model="@(new _PageMetadataCardsPagedViewModel("photo-pages", Model.PhotoPages))" />
        </div>
        <div id="all-pages" class="tab-pane fade">
            <partial name="_PageMetadataCardsPaged" model="@(new _PageMetadataCardsPagedViewModel("all-pages", Model.AllPages))" />
        </div>
    </div>
</div>
