@page
@{
    Layout = "Shared/_BaseLayout";
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">IMAGE GOES HERE</h1>
    </div>
    <div class="row">
        <div class="col">
            <h2>New Articles</h2>
            <vc:page-list recent-count="3"></vc:page-list>
        </div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
</div>
