@page
@model IndexModel
@{
    Layout = "Shared/_BaseLayout";
    ViewData["Title"] = "Index";
}
@section Head
    {
    <style>
        body {
            background-color: #d8d8d8;
        }

        .jumbotron {
            background-color: white;
        }

        div#logo {
            margin-top: 20px;
            background-color: black;
        }

            div#logo img {
                display: block;
                margin: auto;
            }

        .card-title {
            color: #DA4453;
        }
    </style>
}
<div id="logo">
    <img src="~/images/logo.png" />
</div>
<div id="banner" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block img-fluid w-100" src="~/images/banner1.jpg" />
        </div>
        <div class="carousel-item">
            <img class="d-block img-fluid w-100" src="~/images/banner2.jpg" />
        </div>
        <div class="carousel-item">
            <img class="d-block img-fluid w-100" src="images/banner3.jpg" />
        </div>
    </div>
</div>
<div class="container mt-3 mb-5">
    <div class="jumbotron">
        <h1 class="display-4">The Mill</h1>
        <p class="lead">Seven generations of the Ide family have worked at the milling trade since 1813. It served us well and we served the hill farmers of Vermont's Northeast Kingdom well for nearly two hundred years.</p>
        <p>The mill was central to our lives and livelihood, and the brightly lit sign was a St. Johnsbury landmark that we never failed to gaze at in passing. The Mill and the Old Man of the Mountain, in nearby Franconia Notch, were contemporaries and a stark reminder that whether built by man or nature, nothing lasts forever. The purpose of this site is to chronicle the remarkable history of E.T. &amp; H. K. Ide and the Ide family in Vermont with the goal of keeping the memories alive.</p>
    </div>

    <nav class="navbar navbar-expand-sm navbar-light bg-light mb-2">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-links">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-links">
            <ul class="navbar-nav justify-content-center d-flex flex-fill">
                <li class="nav-item">
                    <a class="nav-link" asp-page="/Recent" title="Recently added">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-calendar-day fa-inverse fa-stack-1x"></i>
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="/Highlights" title="Highlights">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-star fa-inverse fa-stack-1x"></i>
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="/SiteIndex" title="Site Index List">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-list fa-inverse fa-stack-1x"></i>
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="/Tags" title="Site Index by Tag">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-tag fa-inverse fa-stack-1x"></i>
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="/About" title="About the Site">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-question fa-inverse fa-stack-1x"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="row">
        <div class="col-md">
            <vc:page-list-card title="Recent additions" count="5" highlights="false"></vc:page-list-card>
        </div>
        <div class="col-md">
            <vc:page-list-card title="Highlights" count="null" highlights="true"></vc:page-list-card>
        </div>
    </div>
</div>
