@page
@model EtAndHkIde.Pages.InMemoryOfCompanionHoraceKnightIdeModel
@{
    ViewData["Title"] = Model.Title;
}

<h1>@Model.Title</h1>

<div class="alert alert-info">
    <div class="row">
        <div class="col-md-4">
            <img src="/pages/InMemoryOfCompanionHoraceKnightIde/mollus-logo.jpg" alt="Military Order of the Loyal Legion of the United States"/>
        </div>
        <div class="col-md-8">
            <p>The <a href="http://www.suvcw.org/mollus/mollus.htm" target="_blank">Military Order of the Loyal Legion of the United States</a> is a fraternity formed in 1865 by Union Civil War veterans. Horace K. Ide was an <a href="http://suvcw.org/mollus/orgmem/OrgmemI.htm" target="_blank">original member</a> and was active in this and other veterans organizations.  William A. Ide later wrote "His greatest happiness was meeting his old comrades of the Cavalry. He went to see them, they came to see him, and he attended the reunions. The feeling toward him from his comrades was more than admiration."</p>
            <p>Upon Horace's death in 1897, the Order published a tribute to his memory that provides a good biographical sketch and a glimpse of the high regard they held for him.</p>
            <p>The <a href="content/InMemoryOfCompanionHoraceKnightIde/MOLLUS-Circular-No.-3-Series-of-1897.pdf" target="_blank"><i class="fa fa-file-pdf"></i> original version</a> is worth viewing for its period typography.</p>
        </div>
    </div>
</div>

<h1>In Memory of Companion Horace Knight Ide</h1>

<h2 style="font-variant: small-caps;">Horace Knight Ide.</h2>
<p style="font-variant: small-caps;">Born in Passumpsic, Vt., January 17, 1842.<br />Died at Brattleboro, Vt., March 31, 1897.</p>
<hr />
<p><em>To the Commandery of the State of Vermont:</em></p>
<p>Your committee, appointed to prepare a memorial to our late Companion, Brevet Major Horace Knight Ide, respectfully submit the following:</p>
<p>Our deceased Companion, the son of Jacob and Ledoska (Knight) Ide, was born in Passumpsic, Vermont, January 17, 1842. His boyhood was spent in his native town, and, when not in school, mainly in work upon his father's farm. His education was received in the district schools and at the St. Johnsbury Academy, from which institution he graduated in the class of 1860. Before entering the army he taught one term of school. On the 14th day of September, 1861, at the age of nineteen, he enlisted in Company F, First Regiment Vermont Cavalry, and in December of that year was transferred to Company D of the same regiment, being promoted to the rank of Corporal on the date of his transfer. In October, 1862, he became Sergeant of his company, and on May 1, 1864, was promoted to First Sergeant. On the 19th of November, 1864, he became First Lieutenant of his Company, and on May 9th, 1865, its Captain. He was brevetted Major of U. S. Volunteers, to date from March 13, 1865, and was mustered out of the service June 21, 1865.</p>
<p>On the 18th of July, 1862, Major Ide was taken prisoner at Liberty Bridge, near Gordonsville, Va., and was confined in <a href="http://www.encyclopediavirginia.org/Libby_Prison" target="_blank">Libby Prison</a> and on <a href="http://www.encyclopediavirginia.org/Belle_Isle_Prison" target="_blank">Belle Isle</a> until September 14, 1862, when he was paroled. In December, 1862, he was exchanged and rejoined his regiment. He was again taken prisoner April 1. 1863, near Dranesville, Va., but made his escape from his captors on the following day. On the 19th of October, 1863, he received a gun-shot wound in his right side, in the <a href="http://civilwarwiki.net/wiki/Battle_of_Buckland_Mills" target="_blank">battle of Buckland Mills, Va.</a>, and was again wounded September 19, 1864, in the <a href="http://www.civilwar.org/battlefields/third-winchester.html" target="_blank">battle of Opequon, Va.</a></p>
<p>Major Ide served with his regiment, in <a href="http://www.archives.gov/boston/exhibits/banks/" target="_blank">General Banks</a>' army, in the Shenandoah Valley in 1862, and afterwards in the Defenses of Washington until the opening of the <a href="http://www.encyclopediavirginia.org/gettysburg_campaign" target="_blank">Gettysburg campaign</a>, when his regiment was attached to the Cavalry Corps of the Army of the Potomac. He was with his regiment until the close of the war, and was present in many of the important engagements in which his regiment took part. His army record may be briefly epitomized as follows: He was nearly four years in the service, was twice wounded, was twice a prisoner of war, and participated&mdash;it is believed&mdash;in forty-two battles and skirmishes.</p>
<p>Soon after the close of the war Major Ide formed a partnership with his brother, E. T. Ide, under the firm name of E. T. &amp; H. K. Ide, and buying the flour and grist-mill in Passumpsic owned by their father, the brothers continued the business previously conducted by their father and grandfather. In 1873 the firm moved to St. Johnsbury, Vt., and there continued a successful business.</p>
<p>In politics Major Ide was a republican, and took a prominent part in the political affairs of the State. In 1872 he represented the town of Barnet in the State Legislature, and he also served in various positions of trust in the Village of St. Johnsbury. In connection with the State militia he served as Quartermaster General from 1882 to 1885. He was a prominent member of Chamberlain Post, <a href="https://en.wikipedia.org/wiki/Grand_Army_of_the_Republic" target="_blank">G. A. R.</a>, of which he was a Past Commander, and he also served as Junior Vice Commander of the Department of Vermont, G. A. R. He was a trustee of the Vermont Soldiers' Home at the time of his death.</p>
<p>Before the war Major Ide was a strong and vigorous young man, but his health was undermined in the service, and he was never well afterwards. With the exception of one year he spent the last twenty winters in Florida. In January last Major and Mrs. Ide went to Florida as usual, but the hoped for improvement in his condition did not appear, and after a few weeks they started to return to their home in Vermont. On the way Companion Ide contracted a severe cold, and they were compelled to remain in New York for a few weeks; they then resumed their journey, reaching Brattleboro, March 30th, when the condition of Major Ide made it necessary to again halt. The following day our Companion died at the Brooks House in Brattleboro.</p>
<p>Brave in battle, patient in hardship, exhibiting the qualities of the good soldier in all his army experience, taking up the duties and responsibilities of civil life with energy and fidelity when service in the army was no longer required, loyal to our flag in war and in peace, our Comrade and Companion was a good type of the Vermont citizen and soldier.</p>
<p>Companion Ide was married December 30, 1867 to Miss Margaret Hidden, who with one son, Philip Sheridan, now survive him.</p>
<p>Henry O. Wheeler, Clarence D. Gates, Nathan P. Bowman, Committee.</p>
<p>May 11, 1897.</p>
