@page
@{
    ViewData["Title"] = "Millers For A Century";
}

<div class="alert alert-info">
    <p><cite>Originally published in the <a href="http://chroniclingamerica.loc.gov/lccn/sn84023253/1913-12-17/ed-1/seq-3/" target="_blank">St. Johnsbury Caledonian, December 17, 1913</a>.</cite></p>
</div>

<h1>Millers For A Century</h1>

<h5>Timothy, Jacob and Elmore T. Ide, Three Generations, Have Conducted Milling Business For 100 Years.</h5>

<h5>Timothy Ide Purchased Small Mill at Passumpsic, Dec. 22, 1813. &mdash; Business Taken up by Son and Developed from Small Custom Mill to a Large Grinding and Distributing Industry&mdash; Three Mills Destroyed By Fire &mdash; Business Removed to St. Johnsbury where Large Tract of Land was Developed for Manufacturing and Building Purposes &mdash; After 53 Years Connection with the Business E. T. Ide Still Actively Connected with Conduct of the Business.</h5>

<p>One hundred years ago next Monday Timothy Ide purchased the grist mill at Passumpsic, conducted the business until his death when it was purchased by his son, Jacob Ide, and later purchased by his son, Elmore T. Ide. who for 53 years has been the manager of the business. The close of a century’s ownership finds Elmore T. Ide 74 years old but still at his desk giving the business the benefit of his long and successful experience. The thoroughly modern mill of E. T. &amp; H. K. Ide is a. creditable monument for a century’s effort but Mr. Ide has still wider success to his credit. He has built up a large coal business, has developed a tract of three acres of apparently worthless land into an important manufacturing and building center. He is also president of the Merchants National Bank, one of the village’s strong financial institutions  Not only can Mr. Ide look back upon the accomplishments of over half a century but he has associated with him a son and son-in-law which assures a much longer term of successful business in the name of the Ide family.</p>
<p>From Elmore T. Ide The Caledonian has secured the following modest but interesting account of the century’s struggles and development in the milling business.</p>
<div class="card-deck w-50">
    <vc:image-card path="content/MillersForACentury/millers-for-a-century-1.jpg"></vc:image-card>
    <vc:image-card path="content/MillersForACentury/millers-for-a-century-2.jpg"></vc:image-card>
    @*<div class="card">
        <img class="card-img-top" src="~/content/MillersForACentury/millers-for-a-century-1.jpg" alt="Elmore T. Ide"/>
        <div class="card-body">
            <p class="card-text">Elmore T. Ide, for 35 Years at Head of the Ide Business and Still In The Harness</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/content/MillersForACentury/millers-for-a-century-2.jpg" alt="Horace K. Ide"/>
        <div class="card-body">
            <p class="card-text">The Late H. K. Ide</p>
        </div>
    </div>*@
</div>
<h2>The Beginning in 1813</h2>
<p>On Dec. 22, 1813, Timothy Ide sold his farm in Lyndon and purchased the grist mill at Passumpsic and became, if not the original "Honest Miller," a good representative of that ancient and honorable calling, and was thus esteemed until the end of his life in 1839.</p>
<p>The mill at that time was a primitive affair, built about 1789. The water wheels and nearly all the machinery except the granite mill stones were made of wood by mill wrights, all the work being done by hand on the spot. In this connection tradition says: "Ike Chamberlin went up into Squire Harvey’s pasture, split up a granite boulder and made a pair of four and a half feet mill stones in the month of November."</p>
<p>The stones have long done duty as door stones — one at E. T. Ide’s old residence at Passumpsic, the other at the home of the life-long miller, Frank Mason. The mill, mill house and splendid water power cost him $1,200.</p>
<p>There were no "elevators" in that mill so the grain was lifted into the hoppers on the upper floor and the flour and meal discharged into a trough in the basement where it was shoveled into bags and brought up on the miller’s back and reloaded on the back of the customer’s horse behind the saddle. The miller’s compensation was regulated by law: one sixteenth of the grist went to the miller, and the miller measured his own "toll" &mdash; hence the difficulty of retaining the full title of Honest Miller.</p>
<p>Practically no cash was used in the business in those days — grain was legal tender for "store bills" for the year if settled before New Year’s. The only way to turn the toll into cash was to grind the wheat into flour and feed the coarser grain to hogs. Then in the winter the old double sleighs were loaded with flour and pork and hauled to Portland through the Crawford Notch in the White Mountains.</p>
<p>Timothy reared 12 children and left to them a good name, and very little of worldly goods, excepting the mill, so at his death his son, Jacob, became the miller.</p>
<div class="card-group w-50">
    <div class="card">
        <img class="card-img-top" src="content/MillersForACentury/millers-for-a-century-4.jpg" alt="The Passumpsic Mill in 1865" />
        <div class="card-body">
            <p class="card-text">The Passumpsic Mill in 1865</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="content/MillersForACentury/millers-for-a-century-5.jpg" alt="The Passumpsic Mill in 1884" />
        <div class="card-body">
            <p class="card-text">The Passumpsic Mill in 1884</p>
        </div>
    </div>
</div>
<h2>Beginning Improvements</h2>
<p>He soon developed the "progressive" idea and made many improvements, putting in the first elevator and the first burr stones used in this section and many other improvements. But not being strong he hired millers and devoted most of his time to other pursuits, being the railroad station agent, postmaster, etc.</p>
<p>His eldest son, Elmore Timothy, was always told that he was to inherit his grandfather’s occupation as well as his name, so in 1861, he donned his "Canada Gray" suit and took charge of the mill. In the summer of ’61 the building and machinery were rebuilt and made fully up to date.</p>
<p>At the close of the war it was evident that times and methods had changed. Farmers no longer depended on their own wheat for flour. Farmers wives had tried "York Flour" found it whiter and the miller eventually got tired of saying that the native darker flour was sweeter and more nutritious that the white western stuff; so the supply of native grist wheat dwindled and nearly ceased.</p>
<h2>Under the Ide Brothers</h2>
<p>Meantime the younger brother, Horace K. Ide had returned from the war with a very honorable record as an officer in the First Vermont Cavalry with the rank of Brevet Major; but with no business training. It was decided to try developing the mill business in up-to-date methods and push things. E. T. Ide spent several months in the west, working as millwright and miller thus taking his "degree" as expert miller. In January, 1866 the partnership of E. T. and H. K. Ide was formed and the old mill was remodeled for the making of flour from western wheat with up-to-date equipment. The business prospered from the start and the brands "Sea Foam," "Pearl Drop," "Golden Sheaf," were well known for many miles.</p>
<p>Mr. Ide recalls that the wheat crop of the country was a partial failure and of very poor quality one year in the late ’60’s. Before the next crop came into the market there was almost a famine of flour in this section. The dealers dared not buy more of the old crop because it was so poor quality. The only wheat available to make good flour was California white wheat freighted by sailing vessel in sacks to New York.</p>
<p>Quite a quantity of this was ground at the Passumpsic mill making the best flour ever made in that mill. It found quick sale at $19 to $20 per barrel. Perhaps no other mill in northern New England tried that experiment.</p>
<h2>Beginning in St. Johnsbury</h2>
<p>In 1869 a branch in St. Johnsbury was established, first in Ward’s block and then in 20 and 22 Eastern avenue in their own building. H. K. Ide moved to St. Johnsbury and managed the branch for several years, when failing health compelled him to spend winters in Florida.</p>
<p>In 1879 E. T. Ide moved to St. Johnsbury and since then this has been headquarters. The old mill at Passumpsic was left in charge of Frank W. Mason as head miller. He had worked in the mill after he was 16 years old and continued there some 40 years — until his death. He was a faithful employee and a very popular citizen.</p>
<p>In 1883 the pulp mill adjoining the Ide mill took fire and in the morning all the mills on the water power were totally destroyed. The insurance was small and the loss heavy. The business was at a stand still with H. K. Ide in Florida, so the balance of the winter was spent in making plans for the future. As a make-shift, the coal business was taken up and has since been a branch.</p>
<p>In the spring it was decided to build a better mill than the old on; but meantime new methods of making flour were coming into use and it was evident that a new process flour mill could not be made profitable here. So an up-to-date corn mill was built with a railroad track to the door. A good business of grinding car loads of corn "in transit" was developed.</p>
<p>In 1897 H. K. Ide whose health had been failing was prostrated in New York on his way home from Florida and died before he arrived here.</p>
<h2>The Business Incorporated</h2>
<p>Soon afterwards the property of the firm including the name was taken over by a Vermont Corporation, "E. T. and H. K. Ide," with a capital of $50,000. The stock is all owned by E. T. Ide and his immediate family, each grandchild being made a stockholder when named.</p>
<h2>Old Mill Pond Developed</h2>
<p>Meantime E. T. Ide purchased the old Mill Pond (three acres) across the railroad near the station and filled the pond, building Bay street and on the railroad, had erected the building now used as an elevator, also coal pockets. The office and business was soon moved to Bay street, the present location.</p>
<p>In December 1904 the pulp mill at Passumpsic again took fire and again in the morning the water power was idle. As a mill was imperative to the business the mill at Lyndon was purchased, overhauled, and in May was ready for business, when a pulp mill, still adjoining, took fire from an old building that was fired by sparks from a locomotive and again there was no mill and only small insurance. After a hard fought law suit, the Railroad Company was obliged to settle for the property destroyed, but again there was no mill.</p>
<p>Now appeared a new feature in the situation. Where should the new mill be located? Of two good water-powers, which would best suit the needs of the company? It soon appeared that the problem was larger than anticipated. The St. Johnsbury Electric Company showed an interest in the Passumpsic power and the village of Lyndonville in the other. Family pride insisted on rebuilding the old site at Passumpsic so a prohibitive price of $15,000 was named for the mill site and was promptly accepted. Times had surely changed. In 1813 this site with the "mill and mill house" were bought for $1200.</p>
<p>Included in the deed with the Electric Company was a contract to supply the Ides 100 horse power delivered by electricity to the new mill to be located in St. Johnsbury. The Lyndon site was sold to the village of Lyndonville on favorable terms.</p>
<h2>The St. Johnsbury Mill</h2>
<p>The new mill was erected on Bay street beside the elevator, at the junction of the Boston and Maine, St. Johnsbury and Lake Champlain and Maine Central railroads. It is four stories high, built of cement blocks, on pile foundation, a so-called fire proof structure. The power is obtained from the old water power three miles distant through seven electric motors of 132 horse power. The machinery and equipment are all of modern construction, and consist in part of three roller mills, each three pair high, three attrition mills and corn cracker, eight grain elevators, bolting chests, magnetic separator, dust collectors, automatic power shovel for unloading grain from cars, Fairbanks automatic receiving scale, etc.</p>
<p>The plant has capacity for storage of 30,000 bushels of bulk grain and 1000 tons of sacked feed and flour. The mill has the capacity for grinding 3000 bushels of grain per day. (Capacity of mill in 1813, 100 bushels).</p>
<p>With the up-to-date machinery and convenient arrangement of the different buildings the grain is handled with the minimum amount of labor from the time it is unloaded from the cars until it is reloaded into the cars as meal. The side track will hold six cars and platforms are so arranged that any or all can be unloaded at the same time. The cars are moved in the siding by means of a power car puller. The bulk grain is unloaded with a power shovel, elevated into the storage bins, from which it is drawn into the mill where it is ground, bolted, and sacked.</p>
<p>The principal business nowadays is keeping a complete line of all kinds of grain, feeds and flour on hand, which is received in straight car-loads, and is here loaded out in mixed cars of any assortment, also a large retail business is done.</p>
<div class="card-deck w-50">
    <div class="card">
        <img class="card-img-top" src="content/MillersForACentury/millers-for-a-century-3.jpg" alt="The Present St. Johnsbury Plant" />
        <div class="card-body">
            <p class="card-text">The Present St. Johnsbury Plant of E. T. & H. K. Ide</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="content/MillersForACentury/millers-for-a-century-6.jpg" alt="The Bradford Mill" />
        <div class="card-body">
            <p class="card-text">The Bradford Mill</p>
        </div>
    </div>
</div>
<h2>The Coal Business</h2>
<p>The coal branch of the business is handled at the same plant, the coal pockets, with a storage capacity of 1200 tons being situated on the side track so that the cars are unloaded from the trestle into the bins below by simply opening the doors and allowing the coal to run out.</p>
<p>E. T. and H. K. Ide are also operating a smart electric mill at Bradford, doing a good business, both wholesale and retail, a small water power mill at South Newbury and a branch store at Passumpsic.</p>
<p>The officers are Elmore T. Ide, president; William A. Ide, vice president; George M. Gray, secretary.</p>
<p>The president has been at the head of the business over 53 years and is still at his desk every day. Mr. Gray, the secretary, is a son-in-law of Mr. Ide and has been with the concern some 25 years. The vice president, William A. Ide, has been on duty 13 years.</p>
<p>Naturally the more active details of the business have to be assumed by these younger men.</p>
<p>The two millers, George Hall and Frank O. LaPoint, learned the trade in the old mill at Passumpsic and have been with the Ides practically all their working lives.</p>

