@page
@{
    ViewData["Title"] = "Passumpsic Mill Photos";
}

<h2>Passumpsic Mill Photos</h2>

<vc:image-gallery-carousel></vc:image-gallery-carousel>

@*<div class="card-group">
    <div class="card">
        <a href="content/Passumpsic/Ide's-Mill-postcard-18xx-edit.jpg" data-lightbox="passumpsic">
            <img class="card-img-top" src="content/Passumpsic/Ide's-Mill-postcard-18xx-edit.jpg"/>
        </a>
    </div>
    <div class="card">
        <a href="~/content/Passumpsic/First-Passumpsic-Mill-edit.jpg" data-lightbox="passumpsic">
            <img class="card-img-top" src="content/Passumpsic/First-Passumpsic-Mill-edit.jpg"/>
        </a>
    </div>
    <div class="card">
        <a href="content/Passumpsic/Second-Passumpsic-Mill-1884-edit.jpg" data-lightbox="passumpsic">
            <img class="card-img-top" src="content/Passumpsic/Second-Passumpsic-Mill-1884-edit.jpg"/>
        </a>
    </div>
</div>*@