@page
@model EtAndHkIde.Pages.PassumpsicMillPhotosModel
@{
    ViewData["Title"] = Model.Metadata.Title;
}

<h1>Passumpsic Mill Photos</h1>

<img src="~/pages/PassumpsicMillPhotos/Ide's-Mill-postcard-18xx-edit.jpg" class="mb-3" />
<img src="~/pages/PassumpsicMillPhotos/First-Passumpsic-Mill-edit.jpg" class="mb-3" />
<img src="~/pages/PassumpsicMillPhotos/kay-kandra-drawing.jpg" class="mb-3" />
<img src="~/pages/PassumpsicMillPhotos/Second-Passumpsic-Mill-1884-edit.jpg" class="mb-3" />
