@page
@model RandallArmorPhotosModel
@{
    ViewData["Title"] = Model.Title;
}

<h1>@Model.Title</h1>

<img src="~/pages/RandallArmorPhotos/armor_101231-6151.jpg" class="mb-3" />
<img src="~/pages/RandallArmorPhotos/armor_101231-6230.jpg" class="mb-3" />
<img src="~/pages/RandallArmorPhotos/armor_101231-6243.jpg" />
