@page
@using EtAndHkIde.ViewComponents
@{
    ViewData["Title"] = "Randall Armor Photos";
}

<h1>Randall Armor Photos</h1>

<vc:image-collection-carousel name="Randall Armor Photos"></vc:image-collection-carousel>

<div class="alert alert-info mt-2">
    Photographs courtesy of <a href="http://www.armorfoto.com">Randall Armor</a> &copy; 2013
</div>