@page
@model EtAndHkIde.Pages.RichardIdeWorldWar2PhotosModel
@{
    ViewData["Title"] = Model.Metadata.Title;
    var imagePaths = new List<string>();
    for (int i = 1; i <= 22; i++)
    {
        imagePaths.Add($"pages/RichardIdeWorldWar2/Richard Ide WW2 {i.ToString("000")}.jpg");
    }
}

<p>Richard Ide arrived in Bremen, Germany on May 6, 1945, two days before Germany unconditionally surrendered to the allies. He was stationed there nearly seven months before moving to Bremerhaven after Christmas and sailing home shortly after. These are the only photos that he took during his service, and it would not surprise me if these were taken with a "found" camera.</p>

<figure class="figure">
    <div class="row">
        <div class="col-md-6">
            <img class="rounded" src="/pages/RichardIdeWorldWar2/Richard Ide WW2 015.jpg" />
        </div>
        <div class="col-md-6">
            <img class="rounded" src="/pages/RichardIdeWorldWar2/modern/bremen hauptbahnhof.jpg" />
        </div>
    </div>
    <figcaption class="figure-caption">The Bremen Hauptbahnhof (main train station) in 1945 and today.</figcaption>
</figure>

<figure class="figure mb-5">
    <div class="row">
        <div class="col-md-6">
            <img class="rounded" src="/pages/RichardIdeWorldWar2/Richard Ide WW2 007.jpg" />
        </div>
        <div class="col-md-6">
            <img class="rounded" src="/pages/RichardIdeWorldWar2/modern/Stephani-01.jpg" />
        </div>
    </div>
    <figcaption class="figure-caption">St. Stephani Church in 1945 and <a href="https://www.kulturkirche-bremen.de/" target="_blank">today</a>.</figcaption>
</figure>

<div class="card-columns">
    @foreach (var imagePath in imagePaths)
    {
        <div class="card">
            <a href="@imagePath" data-lightbox="ww2">
                <img src="@imagePath" class="card-img-top" />
            </a>
        </div>
    }
</div>
