@page
@model EtAndHkIde.Pages.SiteIndexModel
@{
    Layout = "Shared/_NoSidebarLayout";
    ViewData["Title"] = "Site Index";
}

<h1>@ViewData["Title"]</h1>

<vc:page-list-card title="All pages" count="null" highlights="false"></vc:page-list-card>