@page
@model EtAndHkIde.Pages.TagsModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Tags";
    int keyIndex;
}
@section Head{
    <script>
        $(function () {
            $('#tags-container').on('show.bs.collapse', function (e) {
                var $others = $(this).find('.collapse').not(e.target);
                $others.collapse('hide');
                $('li.list-group-item.active').removeClass('active');
                $('li.list-group-item').has('a[href="#' + e.target.id + '"]').addClass('active');
            });
        });
    </script>
}
<partial name="_PageBanner" />
<div class="container mt-3">
    <div class="row">
        <div class="col-3">
            <ul class="list-group">
                @{ keyIndex = 0; }
                @foreach (var tag in Model.PagesByTag.Keys)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="#tag-@keyIndex" data-toggle="collapse">
                            @tag
                        </a>
                        <span class="badge-primary badge-pill">@Model.PagesByTag[tag].Count()</span>
                    </li>
                    keyIndex++;
                }
            </ul>
        </div>
        <div class="col-9">
            @{ keyIndex = 0; }
            <div id="tags-container">
                @foreach (var tag in Model.PagesByTag.Keys)
                {
                    <div id="tag-@keyIndex" class="collapse">
                        <h2>@tag</h2>
                        <div class="card-columns">
                            @foreach (var pageMetadata in Model.PagesByTag[tag])
                            {
                                <partial name="_PageMetadataCard" model="pageMetadata" />
                            }
                        </div>
                    </div>
                    keyIndex++;
                }
            </div>
        </div>
    </div>
</div>
