@page
@model EtAndHkIde.Pages.VermontsOldestFamilyBusinessModel

<div class="my-3">
    <img class="img-fluid d-block mx-auto rounded" src="~/pages/VermontsOldestFamilyBusiness/vofb-00.jpg" />
</div>

<h2>Early Grain Milling</h2>
<p class="font-italic">Millers were trusted to measure the toll accurately and there where many jokes made at the expense of the honest miller. Such a story is told of the pesky little boy who hung around the mill and mostly just got in the miller’s way.</p>
<p class="font-italic">"Do you know anything at all?" asked the miller one day. "Yes," said the boy. "I know that the miller always has fat hogs." "Well, well," said the miller, "so that is what you know. Tell me what you don’t know." And the boy said, "I don’t know whose corn it is that fattens them."</p>
<img class="img-fluid rounded mb-3" src="~/pages/VermontsOldestFamilyBusiness/vofb-03.jpg" />
<p><span class="lead">People in ancient times planted the seeds</span> of edible wild plants and began to harvest the grains for their food. They smashed the grains to make them into flour and meal. The mortar and pestle was the original "grain mill."</p>
<img class="img-fluid float-right rounded ml-1" src="~/pages/VermontsOldestFamilyBusiness/vofb-04.png" />
<p>From the pounding motion of the mortar and pestle evolved various types of machines for grinding and pulverizing grains into flour and meal. The earliest and most enduring way to mill kernels of grain on a large scale was to pass the raw grain through two moving circular flat mill stones whose surfaces had varying degrees of abrasiveness. Early mills were powered by hand and later by animal power. By the first century BC, the use of water powered mills is cited in Greek history. The water powered mill harnessed the energy of passing rivers and streams by way of a water wheel. Early mills in America were powered by a water wheel. The mill provided vital support for 17th and 18th century towns and villages and was used by almost everyone in the community. There were grist mills for producing flour from wheat and meal from corn and oats; cider mills, saw mills, mills for making linseed oil and fulling mills for finishing handwoven woolen cloth.</p>
<p>The plentiful running rivers and streams of New England made this part of the country a rich area for milling industries. In 1789, Passumpsic Village, Vermont, had a water powered saw and grist mill. On December 22, 1813, Timothy Ide from Lyndon, Vermont, bought a mill in Passumpsic Village with water privileges on the Passumpsic River.</p>
<p>The total cost of this primitive wooden grist mill and the water rights was $1,200. The mill stones were made from local granite. In accordance with an age old custom, the miller was paid in part with a percentage (toll) of the grain he milled. Timothy Ide's toll was a sixteenth part, or two quarts of every bushel he milled.</p>
<img class="img-fluid rounded" src="~/pages/VermontsOldestFamilyBusiness/vofb-05.jpg" />

<h2 class="mt-5">The Ide Company Story</h2>
<p class="font-italic">The E.T. &amp; H.K. Ide Company has been in the milling business for the past 175 years. Operating the oldest family owned and run business in Vermont, the Ides have spent six generations as millers of grain and retailers of premium quality animal feeds, farm supplies, garden seeds and tools. Ide's serves the Upper Connecticut River Valley area from its home office in St. Johnsbury with three branch stores located in Fairlee and Montpelier, Vermont and Woodsville, New Hampshire.</p>

<p><strong>John Ide</strong>, a Revolutionary War Lieutenant in the Massachusetts militia, came to Vermont around 1792 and settled on Crow Hill in St. Johnsbury. John's son <strong>Timothy Ide</strong> lived in Lyndon and in 1813 he purchased a grist mill in the neighboring community of Passumpsic Village. Today, six generations later, John Timothy Ide is President of the E.T. &amp; H.K. Ide Company.</p>
<figure class="figure float-left">
    <img class="figure-img img-fluid mr-1" src="~/pages/VermontsOldestFamilyBusiness/vofb-06.png" />
    <figcaption class="figure-caption text-center">Jacob Ide</figcaption>
</figure>
<p>Timothy's son <strong>Jacob Ide</strong> succeeded his father as miller in 1836. He installed in the Passumpsic mill the first grain elevator and replaced the older granite mill stone with a tougher and more efficient French buhr-stone. Jacob's two sons <strong>Elmore Timothy (E.T.)</strong> and <strong>Horace Knights (H.K.)</strong> Ide succeeded their father in the business. Elmore was said to have been a "born miller" and when he assumed leadership of the Company in 1861, it was his vision and innovative ideas that made the business grow and prosper.</p>
<figure class="figure img-4 float-right ml-1">
    <img class="figure-img img-fluid rounded ml-1" src="~/pages/VermontsOldestFamilyBusiness/vofb-07.jpg" />
    <figcaption class="figure-caption">Watercolor by Fanny Ide shows the second Ide mill in Passumpsic, built in 1883.</figcaption>
</figure>
<p>The mid years of the 19th century in America were ones of westward movement and a time of great opportunities in business. During the turbulent Civil War era, dynamic changes in technology and manufacturing were occurring. Elmore Ide saw many friends leave Passumpsic Village for the land and plentiful jobs offered in the west. Better milling production methods were being perfected and new kinds of wheat were being cultivated for flour. Elmore was interested in these new milling and cultivation techniques, so in 1865 he went out to Crawfordsville, Indiana, to work as a millwright. He learned a great deal, returned home to implement his ideas, and began moving the Ide business in new directions. The Passumpsic mill was redesigned and equipped for the production of white flour made from western grain. This new venture paid off very well in the late 1860's when there was a wheat failure throughout the country, except in parts of California. Ide's took a great risk and purchased large quantities of California white wheat and had it shipped to them in Vermont. The Ide Company may have been the only mill in New England to have this precious wheat on hand during these wheat famine years.</p>
<figure class="figure float-left mr-1">
    <img class="figure-img img-fluid" src="~/pages/VermontsOldestFamilyBusiness/vofb-08.png" />
    <figcaption class="figure-caption text-center">Elmore Timothy Ide</figcaption>
</figure>
<figure class="figure float-right ml-2 img-4">
    <img class="figure-img img-fluid rounded" src="~/pages/VermontsOldestFamilyBusiness/vofb-09.jpg" />
    <figcaption class="figure-caption">
        Elmore Ide, a "Born Miller," loading grain at the St. Johnsbury mill.
    </figcaption>
</figure>
<p>Horace and Elmore formed the partnership of E.T. &amp; H.K. Ide Company in 1866. Always open to new ideas and ventures, in 1869 the partnership opened a branch business in St. Johnsbury which was quickly becoming the business and manufacturing center of Caledonia County. Horace managed the new Ide store located on Eastern Avenue which sold grain, groceries and coal. E.T. moved the Ide Company headquarters into St. Johnsbury in 1879 and left Frank Mason, an excellent miller, in charge of the Passumpsic mill site. The fear of all millers happened during the winter of 1883 when the Passumpsic mill burned to the ground. Undaunted, the brothers erected another mill in its place which specialized in grinding corn into meal for animal feed. This venture was a success and Ide's mill became the first mill in the area to begin buying corn in railroad car lots. The Company was slowly but surely shifting from a flour and feed producing business into an exclusively animal feed and farm retail business. This shift in the business proved to be a success and Ide's began selling grain and feed throughout New England.</p>
<figure class="figure float-left mr-1">
    <img class="figure-img img-fluid" src="~/pages/VermontsOldestFamilyBusiness/vofb-11.png" alt="Horace Knights Ide" />
    <figcaption class="figure-caption text-center">Horace Knights Ide</figcaption>
</figure>
<p>In 1897, after the death of Horace, Ide's was incorporated. Since then, owners of Ide Company stock and members of the board of directors have been predominantly Ide family members descended from E.T. Ide.</p>
<p>In the last years of the 19th century, E.T. Ide envisioned a new site for the Company in the most unlikely of spots—three acres of swampy land near the banks of the Passumpsic River in St. Johnsbury. By 1900 the main plant of the E.T. &amp; H.K. Ide Company was located on this newly filled land, called Bay Street. Built of clear spruce timbers, the main building was 50 feet by 80 feet, and had a grain elevator and a large storehouse. Rising eight stories high, the plant had railroad siding for unloading four carloads of grain directly up into the mill. Storage pockets were built under the railroad tracks for delivery of coal by rail.</p>
<p>The Passumpsic mill continued to do all the grinding for the St. Johnsbury store, but in 1904 tragedy struck and the Passumpsic mill burned again. It was replaced when Ide's purchased an existing mill in Lyndon which was devastated by fire the same year that it began operation. Despite these adversities, E.T. Ide was determined to continue the family business which had now been operating for almost a century. He went ahead and constructed a new mill next to the existing office and plant on Bay Street in St. Johnsbury. This was the fourth mill in the history of the Ide Company and it was ready for operation in 1905. Located on landfill, the foundation was made of cement and sat on large piles driven 25 feet to bedrock. The newest machinery and equipment was installed in the St. Johnsbury mill. Powered by electricity, there were five elevators, two roller mills, and two attrition mills which replaced the older mill stones. Also installed were two corn crackers, three bolting screens for sifting and grading meal, dust collectors, magnetic separators, an automatic power shovel for unloading carloads of grain, and finally a Fairbanks automatic receiving scale. The Ide business was now solely concerned with manufacturing animal feed.</p>
<img class="img-fluid rounded my-2" src="~/pages/VermontsOldestFamilyBusiness/vofb-10.jpg" alt="Passumpsic Mills" />
<div class="px-5 my-3 text-center font-italic">
    <i class="fas fa-quote-left mr-1"></i>The air in the mill has the smooth smell of molasses, cracked corn and oats. The wooden shoots have a highly-polished surface gleaned by years of sliding grain bags across the boards.<i class="fas fa-quote-right ml-1"></i>
</div>
<figure class="figure float-left mr-1">
    <img class="figure-img" src="~/pages/VermontsOldestFamilyBusiness/vofb-12.png" />
    <figcaption class="figure-caption text-center">William Adams Ide</figcaption>
</figure>
<p>The youngest son of E.T., <strong>William Adams Ide</strong>, came to work for the Company at the turn of the century. During the years between Will Ide's administration of the business and that of his grandsons' Tim and Rob Ide, enormous changes would take place. Until 1923, Will carried on the business with his father, E.T. Both men were respected in the community for their knowledge as millers and businessmen. In the long tradition of their trade, E.T. and Will worked one-to-one with farmers, helping them determine the best mix of nutritional feeds for their animals. When William took over the helm of the Ide Company, the business moved from grinding and mixing farmers' grist to selling Ide formulated and mixed feeds under the Company’s label. It was also under Will’s direction that the Company opened branch mills and stores in Bradford and Fairlee. Ide Grain and Grocery stores soon opening in St. Johnsbury Center, Danville, Passumpsic, North Danville and West Barnet.</p>
<p>In 1927, Vermont was hit by the worst flood in its history. Six feet of water cascaded into the Ide mill in St. Johnsbury, soaking tons of feed and destroying other property. As was true with the devastating fires, the flood damage was not covered by insurance. But the Company persevered and went on the survive the disastrous Depression of the 1930’s and the impact of World War II. For 175 years the Ide Company has steadfastly weathered difficult times because of careful conscientious and keen management of the business.</p>
<div class="row mb-3">
    <div class="col-md-5 pb-3 pb-md-0">
        <img class="rounded d-block mx-auto" src="~/pages/VermontsOldestFamilyBusiness/vofb-16.jpg" />
    </div>
    <div class="col-md-7">
        <figure class="figure">
            <img class="figure-img rounded d-block mx-auto" src="~/pages/VermontsOldestFamilyBusiness/vofb-14.jpg" />
            <figcaption class="figure-caption">The St. Johnsbury Center branch store, circa 1920; Alex Berube, Manager (left).</figcaption>
        </figure>
    </div>
</div>
<img class="img-fluid mb-3" src="~/pages/VermontsOldestFamilyBusiness/vofb-13.png" />
<figure class="figure float-right ml-1">
    <img class="figure-img" src="~/pages/VermontsOldestFamilyBusiness/vofb-15.png" />
    <figcaption class="figure-caption text-center">Richard Elmore Ide</figcaption>
</figure>
<p>William’s son <strong>Richard Elmore Ide</strong> came to work in the mill in 1932 and saw to the successful transition of the business from being a manufacturer of milled and mixed feeds to a retailer of bagged and bulk grains and feed. Richard initiated the move to retailing H.K. Webster Company’s Blue Seal line of feed productions. This move the result of development in feed technology and nutritional needs for modern farming. Large industrial plants like Webster’s Blue Seal plant in Richford, Vermont, could process greater varieties of grain and nutrients into pelletized feed which packed higher quality into a smaller bite size of feed. Pelleted feed cuts waste to a minimum. So Ide's, always interested in supplying the best quality feed to its customers, switched from being a producer to a retailer of animal feed. Richard Ide also expanded the Company's business to marketing more farm supplies, gardening tools and seeds. In keeping with the family tradition, Richard maintained close contact with customers, from farmers to home gardeners, always willing to share his varied knowledge about farm and gardening needs.</p>
<figure class="figure my-3">
    <img class="figure-img rounded" src="~/pages/VermontsOldestFamilyBusiness/vofb-17.jpg" />
    <figcaption class="figure-caption">Ide Company employees, 1961.<br />Front: Henry Bumps, Murray Lyon, Richard Ide, Wallace Mackay, Clayton Rose, Rodney Daniels, Mait Bean, Fred Johnson.<br />Back: Dewey Nichols, Arthur Bresse, Merwin Simons, Kenneth Robinson, Frank Lapoint, Benjamin Stanton, Sam Eastman, Everett Kenerson, Melvin Moulton, Alex Berube.</figcaption>
</figure>
<figure class="figure float-left mr-1">
    <img class="figure-img" src="~/pages/VermontsOldestFamilyBusiness/vofb-18.png" />
    <figcaption class="figure-caption text-center">John Timothy Ide</figcaption>
</figure>
<figure class="figure float-right ml-1">
    <img class="figure-img" src="~/pages/VermontsOldestFamilyBusiness/vofb-19.png" />
    <figcaption class="figure-caption text-center">Robert Douglas Ide</figcaption>
</figure>
<p>William Ide died in 1957 and Richard assumed the presidency of Ide's. He remained in that position until 1974, when he became the Chairman of the Board and his son <strong>John Timothy Ide</strong> (Tim) became the sixth President of the Company. Tim came into the business in 1963. Among his first tasks was seeing to the successful consolidations of many of the local branch stores with the St. Johnsbury store. In 1974, Tim's brother <strong>Robert Douglas Ide</strong> (Rob) joined the Company. He now serves as Vice-President and Treasurer. Tim and Rob carry on the tradition of six generations of steady business growth and expansion. They have overseen the opening of new branch stores in Woodsville, New Hampshire, and Montpelier, Vermont. Together, they have expanded the retail division of Ide's by increasing sales floor space and offering a wider range of products for sale. Rob and Tim have streamlined business practices and computerized inventory and financial information in keeping with efficient management methods. In the spring of 1986, Ide's installed a new 95 foot high elevator which is designed to carry up to 60 tons of grain per hour into the St. Johnsbury mill, thereby increasing the railroad car unloading capacity to four times its former limit. Both Tim and Rob, like their forebears, visit local farm customers and keep in touch with all their customers' needs.</p>
<p>For several generations the men heading the Ide Company have been active as presidents and members of the Board of Directors of the Vermont Feed Dealers and Manufacturers Association and with the New England Grain and Feed Council. Along with their families, the Ide businessmen have always taken an active role in community, church and civic affairs.</p>
<p>We can look forward to the seventh generation of the Ide Company leadership to come from the sons and daughters of Tim and Rob. Tim's children are James Timothy, 23; Douglas Manton, 21; and Susan Elizabeth, 18. Rob's children are Jacob Adams, 12; and Elizabeth Blankinship, 10.</p>
<div class="row">
    <div class="col-lg font-italic pt-5">
        The seventh generation descendants of Timothy Ide &hellip;
    </div>
    <div class="col-lg">
        <figure class="figure">
            <img class="figure-img rounded" src="~/pages/VermontsOldestFamilyBusiness/vofb-20.jpg" />
            <figcaption class="figure-caption">Douglas Manton, Susan Elizabeth, and James Timothy are Tim's Children.</figcaption>
        </figure>
    </div>
    <div class="col-lg">
        <figure class="figure">
            <img class="figure-img rounded" src="~/pages/VermontsOldestFamilyBusiness/vofb-21.jpg" />
            <figcaption class="figure-caption">Jacob Adams and Elizabeth Blankenship are the children of Rob and Martha Ide.</figcaption>
        </figure>
    </div>
</div>
<img class="img-fluid rounded" src="~/pages/VermontsOldestFamilyBusiness/vofb-22.jpg" />
<h2 class="mt-5">The Ide Company Today</h2>
<p class="font-italic">Tim Ide and his brother Rob are the sixth generation descendants of their family to direct the E.T. &amp; H.K. Ide Company. This animal feed and grain business has been in operation since 1813. The Ide philosophy of business is clear and simple: "We provide high quality products at fair prices with a lot of emphasis on customer service and satisfaction."</p>
<figure class="figure float-right ml-1">
    <img class="figure-img rounded" src="~/pages/VermontsOldestFamilyBusiness/vofb-23.jpg" />
    <figcaption class="figure-caption">Rob and Tim Ide, and the Ide Company elevator.</figcaption>
</figure>
<p><span class="lead">Customer satisfaction</span> has always been important at Ide's. Many Vermont and New Hampshire farms, households and businesses have been buying feed, farm supplies, hardware, tools and garden seeds at Ide's for generations. The Ide Company's good reputation as a fair and honest business run by knowledgeable people has insured the long and successful life of the firm.</p>
<p>First and foremost, the E.T. &amp; H.K. Ide Company has always sold the highest quality feed for dairy cows, beef cattle, poultry, pigs, horses, sheep, goats and pets. They provide their customers with up-to-date information about animal nutrition and farm feed management methods.</p>
<img class="float-left rounded mr-3" src="~/pages/VermontsOldestFamilyBusiness/vofb-24.jpg" />
<p>The Ide Company mill in St. Johnsbury has storage space for 250 tons of bagged feed. Railroad hooper cars bring an additional 500 tons of bulk feed weekly. This tonnage is transported up grain elevators and channeled through a series of chutes into storage bins in the mill. A fleet of four bulk feed trucks and two bag trucks moves up and down the Upper Connecticut River Valley daily, delivering feed to large and small farms. Farmers can select from 90 different varieties of mixed feed, flaked and cracked corn, beet pulp, whole oats and salt. This extensive assortment of superior mixed feeds and ingredients is made available to meet the discriminating needs of Ide's customers.</p>
<figure class="figure float-left mr-3 mb-0">
    <img class="figure-img rounded" src="~/pages/VermontsOldestFamilyBusiness/vofb-25.jpg" />
    <figcaption class="figure-caption">The grain truck arrives at the Merwyn Pearl farm.</figcaption>
</figure>
<p>High in the hills above Cabot Village sits the 800 acre Walter Bothfeld, Sr. &amp; Sons Farm. A prosperous and diverse operation, the Bothfeld family farm has a 120 Holstein dairy herd, a large turkey business and an extensive maple syrup operation.</p>
<p>In 1936, when Theodore Bothfeld began farming, he did business with the Ide Company. Today, Walter Bothfeld Sr. and his sons Walter and Steve continue to buy their grain from the Ide Company because, as Walter Sr. says, "Ide's has always been good to us."</p>
<p>There are 33,000 square feet of space in the Ide Company's Bay Street buildings. On any given day there are up to 700 tons of bulk feed in storage and 250 tons of bagged feed stacked high on eight floors of the mill. There are five coal pockets which hold 600 tons of coal. Every weekday railroad hopper cars deliver 80 tons of bulk feed; another 45 tons of bagged feed arrives in box cars.</p>
<div class="clearfix">
    <figure class="figure float-right ml-3 img-4">
        <img class="figure-img rounded" src="~/pages/VermontsOldestFamilyBusiness/vofb-26.jpg" />
        <figcaption class="figure-caption">Rob Ide discusses business with Walter Bothfield, Sr. of Cabot, Vermont.</figcaption>
    </figure>
    <p>The Ide Company has a fleet of six trucks and one tractor trailer. There are four bulk trucks with 15 ton capacity that deliver approximately 500 tons of bulk feed per week, and two bag trucks that deliver approximately 60 tons of feed per week. Around 75% of the total feed sold is in bulk with the remaining sold in bags.</p>
    <p>Ide’s branch store in Fairlee was established in 1917 and serves the neighboring communities in Vermont and New Hampshire. North of Fairlee, the Ide Store in Woodsville, New Hampshire, draws customers from Vermont and New Hampshire. The Woodsville store was purchased in 1978. The newest Ide branch store, in Montpelier, Vermont, was bought in 1986 and caters to the Central Vermont area.</p>
    <p>The home office and largest retail store of the Ide Company has been located on Bay Street in St. Johnsbury, Vermont, since 1900. The St. Johnsbury store serves customers all over northern Vermont and New Hampshire.</p>
    <p>Since 1868, when Henry K. Webster began making horse feed in a Lawrence, Massachusetts grist mill, the Webster family has been in the animal feed business. The Blue Seal label is the Webster brand name for a superior feed product which is produced in their New England and New York mills. H.K. Webster Company is a recognized leader in the feed manufacturing field, using the latest technology to supply 500 independent retail outlets in the northeastern United States.</p>
    <p>For the past 35 years, Ide's has sold Blue Seal Feed at an increasing rate. These two family businesses, Ide's and Webster's, attribute their long and prosperous success to continually satisfying the important needs of their customers.</p>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="my-0 my-lg-5 font-italic">
            <i class="fas fa-quote-left mr-1"></i>good feed makes a big difference<i class="fas fa-quote-right ml-1"></i>
        </div>
        <img class="img-fluid rounded mt-5 mb-3" src="~/pages/VermontsOldestFamilyBusiness/vofb-27.jpg" />
        <img class="img-fluid rounded mb-3" src="~/pages/VermontsOldestFamilyBusiness/vofb-29.jpg" />
    </div>
    <div class="col-lg-8">
        <img class="rounded" src="~/pages/VermontsOldestFamilyBusiness/vofb-31.png" />
        <div class="row mt-3">
            <div class="col-lg-6">
                <img class="img-fluid rounded" src="~/pages/VermontsOldestFamilyBusiness/vofb-28.jpg" />
            </div>
            <div class="col-lg-6">
                <img class="img-fluid rounded" src="~/pages/VermontsOldestFamilyBusiness/vofb-30.jpg" />
            </div>
        </div>
    </div>
</div>

<h2 class="mt-5">Ide Company Employees</h2>

<p class="lead">There are currently 26 employees of the Ide Company. The following have spent 10 years or more with Ide's:</p>
<div class="row mb-3">
    <div class="col-lg-6">
        <table class="table table-sm">
            <tbody>
                <tr>
                    <td>Maitland Bean</td>
                    <td>45 years</td>
                </tr>
                <tr>
                    <td>Bertram Allen, Jr.</td>
                    <td>36 years</td>
                </tr>
                <tr>
                    <td>J. Timothy Ide</td>
                    <td>25 years</td>
                </tr>
                <tr>
                    <td>Leonard Carson</td>
                    <td>23 years</td>
                </tr>
                <tr>
                    <td>Ronald Bumps</td>
                    <td>18 years</td>
                </tr>
                <tr>
                    <td>Robert Ide</td>
                    <td>14 years</td>
                </tr>
                <tr>
                    <td>Martin Beattie</td>
                    <td>13 years</td>
                </tr>
                <tr>
                    <td>Eugene Brown</td>
                    <td>13 years</td>
                </tr>
                <tr>
                    <td>Glen Ordway</td>
                    <td>12 years</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-6">
        <img class="rounded" src="~/pages/VermontsOldestFamilyBusiness/vofb-32.jpg" />
    </div>
</div>

<p class="lead">
    These Ide employees, now deceased, spent practically all of their working years with the company:
</p>
<div class="row mb-3">
    <div class="col-md-6 offset-md-3">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Bertram F. Allen, Sr.</li>
            <li class="list-group-item">Everett Daniels</li>
            <li class="list-group-item">Charles Craig</li>
            <li class="list-group-item">George M. Gray</li>
            <li class="list-group-item">George E. Hall</li>
            <li class="list-group-item">Pearl W. Blodgett</li>
            <li class="list-group-item">Alexander N. Berube</li>
            <li class="list-group-item">Frederick Johnson</li>
            <li class="list-group-item">Frank Lapoint, Sr.</li>
            <li class="list-group-item">Frank W. Mason</li>
            <li class="list-group-item">Hugh Ramage</li>
            <li class="list-group-item">Otis B. Cutting</li>
            <li class="list-group-item">Raymod Locke, Sr.</li>
            <li class="list-group-item">Timothy Ide</li>
            <li class="list-group-item">Jacob Ide</li>
            <li class="list-group-item">Elmore T. Ide</li>
            <li class="list-group-item">Horace K. Ide</li>
            <li class="list-group-item">William A. Ide</li>
            <li class="list-group-item">Richard E. Ide</li>
        </ul>
    </div>
</div>

<h5 class="text-center mt-5">E. T. &amp; H. K. Ide Company Employees, November 1987</h5>
<figure class="figure">
    <img class="figure-img rounded img-fluid" src="/pages/VermontsOldestFamilyBusiness/vofb-33.png" />
    <figcaption class="figure-caption">
        Bottom row: Lawrence Smith, David Thurston, Thomas Barrett, Martin Beattie, Michael Woolson.<br />
        Middle row: Maitland Bean, Susan Noyes, Timothy Ide, Robert Ide, Kathleen Scott, Laurie Cady.<br />
        Back row: James Carrien, Ronald Bumps, Paul Machell, Ernest Howard, Bruce Benoit, Kenneth Darrell, Jeffrey Bishop, Eugene Brown, Daniel Bedor, Dale Ordway, Raymond Willey.<br />
        Not pictured: Bertram Allen, Glen Ordway.
    </figcaption>
</figure>
<div class="row">
    <div class="col-md-8">
        <p class="text-md-right mt-3">Members of the Frank Lapoint family have worked at Ide's for over 90 years. Frank Lapoint, Sr. came to work at Ide's in 1890 as a master millwright in the Passumpsic mill. By the time he retired in 1942, Frank Jr. was managing the Ide branch store in North Danville. During Frank Jr.'s 40 years with Ide's, he was a branch store manager, a company representative with a sales route to area farms and finally the store manager in the St. Johnsbury office. Frank's keen business sense was important to the development of the farm and garden supply division of Ide's. He retired in 1978 as vice-president of the Company and is currently the only non-family member of the Ide Company board of directors.</p>
    </div>
    <div class="col-md-4">
        <figure class="figure">
            <img class="figure-img rounded" src="~/pages/VermontsOldestFamilyBusiness/vofb-34.jpg" />
            <figcaption class="figure-caption">Frank Lapoint, Jr.</figcaption>
        </figure>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <figure class="figure">
            <img class="figure-img rounded" src="~/pages/VermontsOldestFamilyBusiness/vofb-35.jpg" />
            <figcaption class="figure-caption">Martin Beattie with customer Pliney Page.</figcaption>
        </figure>
    </div>
    <div class="col-md-8">
        <p class="mt-3">Almost daily, Ide's sales manager, Marty Beattie is in touch with farm customers by phone. Checking to see what they need, providing solid information and friendly service, Marty is a man who is strategic to the successful daily workings of the Ide Company.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <p class="text-md-right mt-3">For 40 years Mait Bean has kept the vital workings of the Ide mill in tip top shape. Clever and inventive, Mait has designed, built and repaired practically every mechanical device in the mill from grain shafts and elevators to small motors. A spirit of good old Yankee ingenuity is at its best in Maitland Bean's work.</p>
    </div>
    <div class="col-md-6">
        <figure class="figure">
            <img class="figure-img rounded" src="~/pages/VermontsOldestFamilyBusiness/vofb-36.jpg" />
            <figcaption class="figure-caption">Maitland Bean</figcaption>
        </figure>
    </div>
</div>

<h2 class="mt-5">The Board of Directors</h2>
<figure class="figure">
    <img class="figure-img rounded" src="~/pages/VermontsOldestFamilyBusiness/vofb-37.jpg" />
    <figcaption class="figure-caption">
        <div class="row">
            <div class="col">
                Front row:
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <strong>Henry Clay Ide</strong><span>Hartford, Connecticut</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>
                            <strong>Donald Gray Powell *</strong><br />
                            <span class="font-italic">Secretary</span>
                        </span>
                        <span>
                            St. Johnsbury, Vermont
                        </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <strong>Mary Ide Osborne Witherbee</strong><span>Roxbury, Connecticut</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <strong>Richard deJ. Osborne</strong><span>Princeton, New Jersey</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <strong>Katherine Ide Sprague</strong><span>Cambridge, Massachusetts</span>
                    </li>
                    <li class="list-group-item">
                        <p class="mt-3">* Donald Gray Powell passed away on August 19, 1987. He had served on the Ide Company Board of Directors since 1960 and had been Secretary of the Corporation since 1980. Mr. Powell was a long-standing member of the Executive Committee.</p>
                    </li>
                </ul>
            </div>
            <div class="col">
                Back row:
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <strong>Allen Baxter Ide</strong><span>Rockville, Maryland</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <strong>Mary Armington Ide Gover</strong><span>Glover, Vermont</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>
                            <strong>Robert Douglas Ide</strong><br />
                            <span class="font-italic">Vice-President and Treasurer</span>
                        </span>
                        <span>
                            St. Johnsbury, Vermont
                        </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>
                            <strong>John Timothy Ide</strong><br />
                            <span class="font-italic">President</span>
                        </span>
                        <span>
                            Danville, Vermont
                        </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <strong>Frank O. Lapoint</strong><span>Passumpsic, Vermont</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <strong>Theodore W. Sprague</strong><span>Cambridge, Massachusetts</span>
                    </li>
                </ul>
            </div>
        </div>
    </figcaption>
</figure>
<h2 class="mt-5">Change &amp; Progress at Ide's</h2>
<div class="row">
    <div class="col-lg-4">
        <div class="list-group list-group-flush">
            <div class="list-group-item">
                <p class="h5">1812</p>
                <p class="mb-1"><strong>James Madison</strong> is President of the United States.</p>
            </div>
            <div class="list-group-item">
                <p class="h5">1813</p>
                <p class="mb-1">Timothy Ide purchased grist mill and land in Passumpsic, Vermont. Local farmers bring the wheat to be milled into flour.</p>
            </div>
            <div class="list-group-item">
                <p class="h5">1836</p>
                <p class="mb-1">Jacob Ide, Timothy's son, takes over the Ide mill business. He installs the first elevator for carrying grain and French buhr-stone for grinding grain.</p>
            </div>
            <div class="list-group-item">
                <p class="h5">1860</p>
                <p class="mb-1"><strong>Abraham Lincoln</strong> is President of the United States.</p>
            </div>
            <div class="list-group-item">
                <p class="h5">1861</p>
                <p class="mb-1">Elmore Ide, Jacob's son, was a “born miller” and leads the Ide Company through technological changes in milling and builds the Company into a bigger and more diverse business.</p>
                <p class="mb-1">Civil War begins.</p>
            </div>
            <div class="list-group-item">
                <p class="h5">1866</p>
                <p class="mb-1">Elmore and his brother Horace Knights Ide form the partnership of E.T. & H.K. Ide Company.</p>
            </div>
            <div class="list-group-item">
                <p class="h5">1869</p>
                <p class="mb-1">The Ide Company branch store opens on Eastern Avenue in St. Johnsbury, retailing grain, groceries and coal.</p>
            </div>
            <div class="list-group-item">
                <p class="h5">1879</p>
                <p class="mb-1">Ide Company headquarters moves to St. Johnsbury.</p>
            </div>
            <div class="list-group-item">
                <p class="h5">1883</p>
                <p class="mb-1">The Passumpsic mill burns. A new mill is built in Passumpsic incorporating the newest technology. This mill begins grinding corn and is the first to buy corn in railroad car lots. The business begins the shift from exclusively milling flour to milling corn for animal feed.</p>
            </div>
            <div class="list-group-item">
                <p class="h5">1890</p>
                <p class="mb-1">Elmore Ide purchases Bay Street site in St. Johnsbury for a new Ide Company mill. </p>
            </div>
            <div class="list-group-item">
                <p class="h5">1897</p>
                <p class="mb-1">The E.T. & H.K. Ide Company incorporates. From this date until the present time owners of Ide Company stock and members of the board of directors have been predominantly Ide family members descended from Elmore T. Ide.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="list-group list-group-flush">
            <div class="list-group-item">
                <p class="h5">1900</p>
                <p class="mb-1">The new elevator building in St. Johnsbury has 900 ton capacity. William Adams Ide joins the Company and will serve as President until 1956.</p>
            </div>
            <div class="list-group-item">
                <p class="h5">1901</p>
                <p class="mb-1"><strong>Theodore Roosevelt</strong> is President of the United States.</p>
            </div>
            <div class="list-group-item">
                <p class="h5">1903</p>
                <p class="mb-1">The Ide mill in Passumpsic burns a second time.</p>
            </div>
            <div class="list-group-item">
                <p class="h5">1904</p>
                <p class="mb-1">The Ide Company purchases a mill in Lyndon which burns to the ground the same year.</p>
            </div>
            <div class="list-group-item">
                <p class="h5">1905</p>
                <p class="mb-1">The St. Johnsbury mill completed, the fourth mill in the history of the business. Equipped with the latest machinery and powered by electricity, the mill and existing buildings store 30,000 bushels of bulk grain and 1000 tons of sacked feed. The St. Johnsbury mill had 5 elevators, 2 roller mills, 2 attrition mills, 2 corn crackers, 3 bailing screens for sifting and grading meal, dust collectors, magnetic separators and automatic power shovel for unloading carloads of grain.</p>
            </div>
            <div class="list-group-item">
                <p class="h5">1910</p>
                <p class="mb-1">Bradford branch store opens.</p>
            </div>
            <div class="list-group-item">
                <p class="h5">1914</p>
                <p class="mb-1">Fairlee branch store opens.</p>
                <p class="mb-1">World War I begins.</p>
            </div>
            <div class="list-group-item">
                <p class="h5">1920's &mdash; 1930's</p>
                <p class="mb-1">Ide branch stores open in St. Johnsbury Center, Danville, Passumpsic, North Danville and West Barnet. The move to opening branch stores was to meet head-on the competition coming from large wholesale milling corporations. The Ide branch stores were often a combination of grain and grocery stores.</p>
            </div>
            <div class="list-group-item">
                <p class="h5">1924</p>
                <p class="mb-1"><strong>Calvin Coolidge</strong> is President of the United States.</p>
            </div>
            <div class="list-group-item">
                <p class="h5">1927</p>
                <p class="mb-1">New 2 story building constructed on Bay Street site to hold 900 tons of bagged feed. Great Flood in Vermont causes water to rise 6 feet inside the Ide storehouse on Bay Street, ruining a great deal of bagged grain and feed. Stock Market Crash followed by The Great Depression of the 1930's.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="list-group list-group-flush">
            <div class="list-group-item">
                <p class="h5">1932</p>
                <p class="mb-1">William Ide's son Richard Elmore came to work for the business. He brings to the business an expert knowledge of nutritional needs in farming and a keen ability at developing feeding formulas that work and keep customers coming back to Ide's.</p>
                <p class="mb-1"><strong>Franklin D. Roosevelt</strong> is President of the United States.</p>
            </div>
            <div class="list-group-item">
                <p class="h5">1941</p>
                <p class="mb-1">United States enters World War II.</p>
            </div>
            <div class="list-group-item">
                <p class="h5">1953</p>
                <p class="mb-1">Ide's starts selling H.K. Webster's Blue Seal brand of animal feed. Ide's becomes one of the first bulk feed dealers in Vermont.</p>
            </div>
            <div class="list-group-item">
                <p class="h5">1963</p>
                <p class="mb-1">Richard Ide's son John Timothy (Tim) comes to work for the business.</p>
            </div>
            <div class="list-group-item">
                <p class="h5">1964</p>
                <p class="mb-1">Ide's begins a new home garden supply business at the Bay Street store.</p>
            </div>
            <div class="list-group-item">
                <p class="h5">1971</p>
                <p class="mb-1">Fairlee store enlarged.</p>
            </div>
            <div class="list-group-item">
                <p class="h5">1972</p>
                <p class="mb-1">Large Fairbanks truck scale installed in St. Johnsbury. First 15 ton truck purchased which improves and expands how feed is delivered to customers.</p>
            </div>
            <div class="list-group-item">
                <p class="h5">1974</p>
                <p class="mb-1">Tim Ide's brother Robert Douglas comes to work for the Company.</p>
            </div>
            <div class="list-group-item">
                <p class="h5">1978</p>
                <p class="mb-1">Woodsville, New Hampshire, Ide branch store purchased.</p>
            </div>
            <div class="list-group-item">
                <p class="h5">1983</p>
                <p class="mb-1">First computer system installed in main office of the Ide Company.</p>
            </div>
            <div class="list-group-item">
                <p class="h5">1986</p>
                <p class="mb-1">A 95 foot grain elevator installed in the St. Johnsbury mill. Montpelier branch store purchased.</p>
            </div>
            <div class="list-group-item">
                <p class="h5">1988</p>
                <p class="mb-1">The E.T. & H.K. Ide Company celebrates 175 years of business.</p>
            </div>
        </div>
    </div>
</div>

<div class="alert alert-info">
    <p class="lead">PRODUCTION CREDITS:</p>
    <p>Text by Mary Gover. Photography: front and back cover, photocopying, and cameo portraits pages 6 though 9 by Jenks Studio of Photography; portraits page 9, all photography pages 11 through 16, and large black &amp; white photos on main office on inside back cover by Peggy Daniels. Millstone illustration on page 7 by Carol Michaud. Design, typesetting and production by Troll Press. Color separations by Carol Michaud. Design, typesetting and production by Troll Press. Color separations by Spectrum, Inc. Printed by Queen City Printers. Printed in USA. Copyright 1988, E.T. &amp; H.K. Ide, Inc.</p>
</div>

<img class="rounded mb-5" src="~/pages/VermontsOldestFamilyBusiness/vofb-38.jpg" alt="Photos of the Ide stores in 1988" />