@page
@model EtAndHkIde.Pages.VermontMillingDynastyModel
@{
    ViewData["Title"] = Model.Metadata.Title;
}

<p>By Charles Stratton and Austin Carpenter<br />Reprinted from the September, 1958, Issue of Eastern Feed Merchant</p>
<p>E. T. &amp; H. K. Ide, Inc., St. Johnsbury feed manufacturer and retailer, has been successfully operating for 145 years as a five-generation business</p>

<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="/pages/VermontMillingDynasty/vermont-milling-dynasty-001.jpg" alt="St. Johnsbury mill" data-lightbox="dynasty1" />
        <div class="card-body">
            <p class="card-text">Main plant of E. T. & H. K. Ide, Inc., at St. Johnsbury, Vt., that supplies livestock and poultry feeds to northern and central Vermont feeders.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="/pages/VermontMillingDynasty/vermont-milling-dynasty-002.jpg" al="Original Ide mill at Passumpsic" data-lightbox="dynasty1" />
        <div class="card-body">
            <p class="card-text">Original Ide mill at Passumpsic, Vt., which was acquired by Timothy Ide in 1813 for their start in the milling business. It was built about 1789.</p>
        </div>
    </div>
</div>

<p>In 1813, Timothy Ide, son of John Ide, revolutionary soldier and pioneer, sold his farm in Lyndon, Vt., and purchased a grist mill at Passumpsic on the banks of the Passumpsic River a few miles north of its junction with the Connecticut River. Thus was initiated a milling business that has carried on as a traditional family enterprise for 145 years. Since 1897 the business has been conducted as E. T. &amp; H. K. Ide, Inc.</p>
<p>Prefacing the story of this interesting and successful enterprise with a bit of historical background tracing its operation by five generations of the Ide family seems appropriate. From 1813 to his death in 1839, Timothy Ide directed this operation for milling wheat into flour. Then his son, Jacob, became the miller. Twenty-two years later, Elmore T. Ide, Jacob's eldest son, took charge of the mill.</p>
<p>The close of the Civil War was an important time for a small New England business. It was a time of birth for new enterprises and a time of rebirth for older businesses. It was a challenging time for young men like Elmore, who visioned a good reward for a progressive Vermont miller. However, a new kind of flour milled in the Midwest and whiter in appearance than that milled by Ide was making keen competition. To meet this, young Ide sensed he needed more knowledge of Western methods and equipment. So in 1865 he went to Indiana where he worked for several months as a miller and millwright. After acquiring this experience he returned to Vermont to meet all competition.</p>
<h2>Partnership in 1866</h2>
<p>While Elmore was gaining experience in Midwestern mills, his brother, Horace K., returned from the Civil War. Two severe wounds plus a starvation period in a rebel prison had weakened his physique. Consequently, his participation in building the family business was limited. However, his fine character, sound judgment and inspiration proved important factors in the progress of a brother partnership&mdash;E. T. &amp; H. K. Ide&mdash;formed in 1866.</p>
<p>In 1869 the company established a branch store in St. Johnsbury, Vt. Horace took charge of this branch and managed it for several years until failing health necessitated the spending of a large portion of his time in a warmer climate.</p>
<p>In 1879 Elmore moved his family to St. Johnsbury and established the headquarters of the partnership there. The mill at Passumpsic was left in charge of Frank Mason, a competent miller. In the winter of 1883, fire completely destroyed the mill.</p>
<p>Pondering over rebuilding plans, the Ides carefully forecast the future. Methods of producing flour had been undergoing great changes, and competition from the big flour mills of the Midwest was reducing profit possibilities in local milling. It seemed that the company's future was in feed rather than flour production. Accordingly, in 1883 a new corn mill was built on the old flour mill site.</p>
<h2>Incorporated in 1897</h2>
<p>In 1897 Horace died while en route from Florida to his Vermont home. The business was then incorporated with all capital stock owned by Elmore and members of his family. This representative of the third generation of Ide millers proved an aggressive businessman who had the courage to back carefully thought-out plans with money, hard work and patience. He continued as active head of his family business for 62 years and until his death in 1923 in his 84th year.</p>
<p>In 1900 William A., youngest son of Elmore, decided upon a milling career and went to work in the Passumpsic mill. He, too, upheld the "good miller" reputation of his forebears. For almost a quarter of a century this father and son combination worked in building an ever-expanding business. Upon his death in 1956 his son, Richard E., who joined the corporation after finishing his education in 1932, became president and manager of the business. In these responsibilities he has maintained the pattern of success of his ancestors.</p>
<p>The recording of management personnel of this successful business wouldn't be complete without reference to George M. Gray, son-in-law of Elmore T. Ide, who from 1888 until his death in 1925 contributed greatly to the progressive operation of the enterprise.</p>
<h2>Setbacks by Fire</h2>
<p>Determination and resourcefulness best describe the Ide philosophy for building and maintaining a good business. Going was not always easy. The Ides experienced some setbacks. In 1904 the Passumpsic mill which did all grinding for the St. Johnsbury store completely burned. The mill was essential to keep the business going, so as a stopgap an old mill in Lyndon was purchased, overhauled and put into operation. Within a very short time this mill caught fire and burned. Twice in the same year the company was deprived in a costly and discouraging way of its production facility. Rather than rebuild the burned mill, the company sold the Passumpsic mill site and water-power lines to the St. Johnsbury Electric Co., with the purchaser agreeing to furnish power for a new Ide mill to be constructed at St. Johnsbury.</p>
<p>Initial construction at St. Johnsbury was done in 1900—a five-story elevator and storage house, 50x80 feet, framed with large, clear spruce timbers. Five years later a fourth Ide mill was built, adjacent to the St. Johnsbury elevator. Powered by electricity, the equipment includes two roller mills, two attrition mills, two corn crackers, five stands of elevators, an automatic power shovel for unloading cars of grain and ingredients and one Fairbanks automatic receiving scale. The mill has a processing capacity of 2,000 bushels of grain per day, storage space for 30,000 bushels of bulk grain and grain byproducts, and 1,000 tons of sacked feed.</p>
<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="/pages/VermontMillingDynasty/vermont-milling-dynasty-006.jpg" alt="Molasses mixer" />
        <div class="card-body">
            <p class="card-text">The molasses mixer in the Ide mill is a busy mechanical unit, as molasses dairy rations are popular with Ide customers.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="/pages/VermontMillingDynasty/vermont-milling-dynasty-007.jpg" alt="Feed bags" />
        <div class="card-body">
            <p class="card-text">The family and trade name is a standout on the bags in which Ide feed is packaged.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="/pages/VermontMillingDynasty/vermont-milling-dynasty-012.jpg" alt="Milling unit" />
        <div class="card-body">
            <p class="card-text">A close-up view of some of the milling units in the Ide mill.</p>
        </div>
    </div>
</div>
<h2>New Warehouse in 1927</h2>
<p>In 1927, to meet the need for more storage space, a large L-shaped, two-story warehouse was built adjoining the elevator building. With this warehouse, the complete Ide plant affords space for 35,000 bushels of bulk grain and feed ingredients and 1,500 tons of sacked feed and the capacity for grinding and mixing 3,000 bushels of products daily.</p>
<p>Knowing of a splendid market for feed in the Bradford, Vt., area, the company in 1909 leased a mill there. This plant, however, lacked capacity to meet constantly increasing demands of feeders, so in 1914 a new mill was completed in nearby Fairlee, 40 miles from the St. Johnsbury main operating base. In recent years custom grinding and mixing of locally grown grains has been the chief mechanical operation in the Fairlee plant.</p>
<p>From here on it is our purpose to present the pattern of Ide's production and merchandising. It is an operation combining feed manufacturing and retailing with limited wholesaling. A complete line of livestock, dairy and poultry feeds are manufactured and sold under the "Ide Feed" trade-mark. Mixing is done in two modern mixers, each with a capacity of 1½ tons. After mixing the feed is elevated and run over a magnet to remove metal and over a shaking screen to remove other foreign material. A molasses mixer has a capacity of 300 pounds of mix per minute.</p>
<p>Richard Ide has the responsibility of developing formulas on which Ide feeds are built. An apt student in the nutritional needs of animals and poultry and well versed in feed ingredient values, Ide's formulas give feeding results that bring customers back for more and more Ide feed. This feedman closely follows nutrition research at the University of Vermont, which serves as the main guide in his formula developments. Seventy-five per cent of the Ide tonnage is dairy feed. Of these rations the most popular is a special 18% protein formula and a 14% protein fitting ration. Ide is strong for a generous fat analysis in his dairy feeds. He is also strong for crimping oats used in the rations.</p>
<p>A firm believer that feeders, generally speaking, relish the opportunity of a choice of trade brands, Ide acquired the retail distributing franchise on "Blue Seal" feeds manufactured by the H. K. Webster Co., of Lawrence, Mass., and Richford, Vt. With the merchandising push fairly proportioned between "Ide" and "Blue Seal" feeds, each of these brand lines gets a fine tonnage volume. Demand for feed in pellet form has increased in recent years, and to meet this requirement "Blue Seal" pellet feeds are supplied. There is no pelleting equipment in the Ide mill.</p>
<p>For the Ides there has always existed a deep-rooted sales policy of concentrating on a limited local trade area rather than spreading the effort to distant markets. A 50-mile radius, with St. Johnsbury as the hub, constitutes the merchandising scope of the business. To have good accessibility to feeders, the Ide company maintains four branch stores to complement mill service at St. Johnsbury and Fairlee. These stores are located at Passumpsic, Danville, North Danville, and West Barnet. Each store is a one-man operation, so planned for economy. In each instance, the store manager is a long-time resident of the trading community with a wide acquaintance among farmers of his district and a practical knowledge of their feed requirements. Manager at Danville is Mahlon Jamieson; North Danville, Raymond Locke; West Barnet, Richard Caldwell, and Passumpsic, Fred Wright. At Fairlee, where custom grinding and mixing is done along with retailing, Bert Allen heads a four-man staff.</p>
<p>To conserve on investment in delivery equipment, no Ide branch maintains a truck unit. Feed for stocking these branch stores is trucked from the St. Johnsbury mill, and as deliveries are made to the respective stores the truck remains in the service of the store manager long enough to deliver local orders to farm customers.</p>
<p>The Ide company was one of the very first to inaugurate bulk feed delivery to farms in New England. Currently, 35% of the company's feed tonnage goes out in bulk. On this angle of operation, the company has a unique accomplishment—one we doubt can be found duplicated anywhere in the country—60% of the bulk tonnage is taken from the Ide mill in trucks sent by farm customers. When nearly two-thirds of the bulk tonnage of a feed business is trucked to the farm by feeders, it's a situation that any feedman would contemplate with envy. This out-of-the-ordinary practice results from a consistent educational program, which the Ide management used with farmers from the time bulk handling of feed was started by the company. Financial incentive to encourage farmers to haul their own bulk feeds is a pricing differential of $2 per ton off the price of company-made deliveries.</p>
<p>For bulk delivery by company trucks, two units are used. One is a conversion air-type truck. The other is a small dump truck of Ide design. This smaller truck is used to deliver to barns where heavy equipment would be a hazard. It has a short wheel base for easy turning in tight places. Deliveries are made on a well worked out weekly service basis.</p>
<p>Merchandising item ranking second in importance to feed is fuel. Over the years a heavy volume of coal sales has been experienced. There is storage capacity for 1,200 tons of coal. This end of the business has been very capably managed and developed by Fred Johnson, now vice-president of the corporation, who has a service record of 35 years with the Ide company. Although the management has specialized in merchandising feeds and coal, recently more merchandising emphasis has been placed on seeds, fertilizers, insecticides, animal and poultry health products, small farm hardware and tools. Effort on these companion items is being stepped up.</p>
<p>A noteworthy accomplishment in the merchandising of two specialty feeds is an Ide record. These are dog food and calf meal. A number of years ago the management decided to take a fling at establishing a substantial business for these commodities. They chose the Ryde line, manufactured in Chicago, Ill. By constant sales plugging on these items, an outstanding volume has been developed. They purchase Ryde products in straight carload lots and move them to consumers with the rapidity of turnover that makes a very satisfactory profit.</p>
<h2>Personal Customer Contact</h2>
<p>The key merchandising approach of this business is extension of the personal touch in customer contact. Every individual is treated as a friend and neighbor. Customers and prospects are made to feel at home. The homey, personalized interest that people in all walks of life appreciate saturates the atmosphere in the Ide office and salesroom and is convincingly evidenced in the attitude of all personnel.</p>
<p>Farm-level service has a prominent place in Ide merchandising strategy. Mel Moulton is the Ide serviceman. He is well qualified to help customers with livestock and poultry management. His helpful farm-service contacts count heavily in obtaining the good will farm people in the trade areas hold for the Ide business.</p>
<p>Feedman Ide is advertising conscious. "You must let people know who you are, what you sell and how you service," says Ide, "and advertising is necessary to accomplish this important objective." He uses local newspapers, stuffer mailings with monthly statements and special announcement letters to carry the company's sales-promotion messages to the public.</p>
<p>He supplies the sound business judgment and leadership to make a successful business. Nevertheless, he credits success to a strong degree of loyal and energetic teamwork by his staff, many of whom have served the company over a long span of years. They respect and like their chief. Duties are conscientiously performed with a sense of pride in being a part of a progressive business geared to economically serve farm people.</p>
<p>Following the record of growth of this business through five generations of the Ide family, it's only natural to suppose that a son of Richard E. Ide will join the business and eventually succeed his father in its management to the end that this prosperous and well-regarded Vermont milling dynasty may be further perpetuated.</p>

<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="/pages/VermontMillingDynasty/vermont-milling-dynasty-003.jpg" alt="Hugh Ramage" />
        <div class="card-body">
            <h5 class="card-title">Hugh Ramage</h5>
            <p class="card-text">Salesman Hugh Ramage is also right hand man in the office and mill at St. Johnsbury. He has served the company well for 31 years.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="/pages/VermontMillingDynasty/vermont-milling-dynasty-004.jpg" alt="Everett Daniels" />
        <div class="card-body">
            <h5 class="card-title">Everett Daniels</h5>
            <p class="card-text">Everett Daniels is clerk and bookkeeper of the corporation. He is a 32-year worker of the Ides. Kept under his glass desk top are price lists. Some in the rear are for Daniels, with copies in front for customers to see and read.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="/pages/VermontMillingDynasty/vermont-milling-dynasty-005.jpg" alt="Melvin R. Moulton" />
        <div class="card-body">
            <h5 class="card-title">Melvin R. Moulton</h5>
            <p class="card-text">Melville R. Moulton is the Ide serviceman and salesman. He joined the company in 1955 after many years of successful farming. He continues to live on his farm and raise every fancy dairy calf that comes his way. Ide farm customers have great respect for his management “know-how” and avail themselves of his service programs.</p>
        </div>
    </div>
</div>
<div class="card-deck mt-3">
    <div class="card">
        <img class="card-img-top" src="/pages/VermontMillingDynasty/vermont-milling-dynasty-008.jpg" alt="Richard E. Ide" />
        <div class="card-body">
            <h5 class="card-title">Richard E. Ide</h5>
            <p class="card-text">Richard E. Ide, president and manager of the Ide business, looks at painting of an early Ide mill. He represents the fifth generation of the Ide family to follow a milling career in the business that was founded in 1813.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="/pages/VermontMillingDynasty/vermont-milling-dynasty-009.jpg" alt="Fred Johnson" />
        <div class="card-body">
            <h5 class="card-title">Fred Johnson</h5>
            <p class="card-text">Fred Johnson, vice-president, has responsibility for the fuel business of the company, which is large.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="/pages/VermontMillingDynasty/vermont-milling-dynasty-010.jpg" alt="Frank O. Lapoint" />
        <div class="card-body">
            <h5 class="card-title">Frank O. Lapoint</h5>
            <p class="card-text">Frank O. Lapoint is the Ide retail sales manager. He has been with the company 22 years. He has the responsibility of purchasing all seeds, insecticides, animal and poultry health products, small farm hardware and tools. His late father, F. O. Lapoint, Sr., loyally served the company for 50 years as millwright and foreman.</p>
        </div>
    </div>
</div>
<div class="card-deck mt-3">
    <div class="card">
        <img class="card-img-top" src="/pages/VermontMillingDynasty/vermont-milling-dynasty-011.jpg" alt="Maitland C. Bean" />
        <div class="card-body">
            <h5 class="card-title">Maitland C. Bean</h5>
            <p class="card-text">Maitland C. Bean, mill superintendent, joined the Ide staff in 1943. An excellent millwright and a capable production program developer, Bean’s service plays an important role in this successful feed operation. Possessed of Yankee mechanical ingenuity, he has overcome many obstacles to getting good production out of a plant designed before mixing and bulk handling of ingredients came along.</p>
        </div>
    </div>
    <div class="card" style="visibility: hidden;"></div>
    <div class="card" style="visibility: hidden;"></div>
</div>