@page
@model EtAndHkIde.Pages.VhsPassumpsicPhotosModel

<p>The Vermont Historical Society acquired several wonderful cabinet photos of the Passumpsic mill in 2018 from a descendant of Frank Mason, the miller. The Society scanned them and I did some restoration work.</p>

<figure class="figure">
    <img class="figure-img rounded" src="~/pages/VhsPassumpsicPhotos/MillAtPassumpsic2 edit.jpg" />
    <figcaption class="figure-caption">Exterior view of the recently rebuilt mill. The original was damaged and while I'm overall pleased with my restoration, I left the chimney too short.</figcaption>
</figure>

<figure class="figure">
    <img class="figure-img rounded" src="~/pages/VhsPassumpsicPhotos/IdeMill edit.jpg" />
    <figcaption class="figure-caption">Exterior view of the mill from a vantage point downstream on the Passumpsic River.</figcaption>
</figure>

<figure class="figure">
    <img class="figure-img rounded" src="~/pages/VhsPassumpsicPhotos/MenInsideMill edit.jpg" />
    <figcaption class="figure-caption">A rare interior photo of the new mill. Frank Mason is seated as if dressing a millstone, and goofing around with the hoist. I believe that Elmore Ide is standing behind him.</figcaption>
</figure>

<figure class="figure">
    <img class="figure-img rounded" src="~/pages/VhsPassumpsicPhotos/TrainAtPassumpsicMill edit.jpg" />
    <figcaption class="figure-caption">A wood-fired Passumpsic Railroad engine at the side.</figcaption>
</figure>

<figure class="figure">
    <img class="figure-img rounded" src="~/pages/VhsPassumpsicPhotos/TrainAtPassumpsicMill2 edit.jpg" />
    <figcaption class="figure-caption">Railcars being loaded at the siding. This view clearly shows the flume that provided water power to the mill. <a asp-page="LightingTheVillage">E.T. wrote in 1888</a>: "The year before our mill burned in 1883 we had put in a new flume, of 4 and 6 inch plank, and attached to it were four iron water wheels. Also we had a place prepared and new race-way built for another and larger wheel which we have never utilized, but in which a water wheel could be 'set' in two days time. The flume rests on the solid rock, as does the mill. When the mill was burned it left our new flume and wheels uninjured comparatively."</figcaption>
</figure>

<figure class="figure">
    <img class="figure-img rounded" src="~/pages/VhsPassumpsicPhotos/MasonFrancis edit.jpg" />
    <figcaption class="figure-caption">Francis "Frank" Mason. William Adams Ide described him in <a asp-page="Recollections" asp-fragment="associates">Recollections</a>: "He and Father were as unlike as two men could possibly be, and, at times, he was a great trial to Father. But, with it all, there was a strong and enduring friendship and complete understanding between them. For all of his life, Father took things from Frank that he would have taken from no other man, and he was not even ruffled by it. Frank could get away with most anything, but he was a wise man, going only to the limit and no further."</figcaption>
</figure>

<p>The set of photos included the three below that were in poor condition or of lesser interest.</p>

<figure class="figure">
    <img class="figure-img rounded" src="~/pages/VhsPassumpsicPhotos/FrancisMasonInChargeOfIdeMill edit.jpg" />
    <figcaption class="figure-caption">Frank Mason (left) outside the mill.</figcaption>
</figure>

<figure class="figure">
    <img class="figure-img rounded" src="~/pages/VhsPassumpsicPhotos/MillAtPassumpsic edit.jpg" />
    <figcaption class="figure-caption">A view of the mill showing the Fiber Leather Board plant under construction to the left.</figcaption>
</figure>

<figure class="figure">
    <img class="figure-img rounded" src="~/pages/VhsPassumpsicPhotos/OldIdeMill edit.jpg" />
    <figcaption class="figure-caption">The Ide home and the mill.</figcaption>
</figure>