@page
@model EtAndHkIde.Pages.Images.RichardIdeWorldWar2PhotosModel
@{
    ViewData["Title"] = Model.Title;
}

<h1>@Model.Title</h1>

<vc:image-gallery path="/images/RichardIdeWorldWar2"></vc:image-gallery>