/*
    color scheme: #bd162c, #1643bd, #bd5f16
*/
#navbar-links a.nav-link .svg-inline--fa.fa-circle {
    color: #bd162c;
}

#navbar-links a.nav-link:hover .svg-inline--fa.fa-circle[data-prefix~="far"] {
    background-color: black;
}

#navbar-links a.nav-link:hover .svg-inline--fa.fa-circle[data-prefix~="fas"] {
    color: white;
}

#navbar-links a.nav-link .svg-inline--fa.fa-inverse {
    color: white;
}

#navbar-links a.nav-link:hover .svg-inline--fa.fa-inverse {
    color: #bd162c;
}

#navbar-links a.nav-link:hover .caption {
    color: #bd162c;
}

.navbar-dark.bg-dark {
    background-color: black !important;
}

@media(min-width: 768px) {

    /* align navbar link captions centered under icons for md devices and up, must be same breakpoint as navbar-expand-**/
    #page-banner #navbar-links ul {
        text-align: center;
    }

    #page-banner #navbar-links span.caption {
        display: block;
    }

    /* navbar margins for md and up */
    #page-banner .navbar-brand {
        margin-left: 1.5rem;
    }

    #page-banner .navbar-nav {
        margin-right: 0.5rem;
    }
}

@media(min-width: 992px) {
    /* navbar margins for lg and up */

    #page-banner .navbar-brand {
        margin-left: 3rem;
    }

    #page-banner .navbar-nav {
        margin-right: 2rem;
    }
}

h1 {
    color: #bd162c;
    font-size: 2.2rem;
}

h2 {
    color: #1643bd;
    font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: #1643bd;
}

    a:hover {
        color: #bd5f16;
    }

blockquote, .blockquote {
    font-size: 1rem;
    font-style: italic;
}


.list-group-item.active a {
    color: white;
}

.card {
    border: 1px solid #1643bd;
}

.card-header {
    border-bottom: 1px dashed #1643bd;
}

.card-title {
    color: #bd162c;
}

.card-body {
    padding: 0.5rem 1rem;
}

    .card-body p:last-of-type {
        margin-bottom: 0;
    }

.page-link.nav-link.active {
    /* style page links when used as nav-links */
    background-color: #0f7864;
}

/* 
    Images are sized to 1, 2/3, 1/2, 1/3, 1/4 of 960px large container.
    These classes exist to keep figure captions from overrunning the image size.
    Apply to figure element.
*/
figure.img-1 figcaption {
    max-width: 960px;
}

figure.img-2 figcaption {
    max-width: 640px;
}

figure.img-3 figcaption {
    max-width: 480px;
}

figure.img-4 figcaption {
    max-width: 320px;
}

figure.img-5 figcaption {
    max-width: 240px;
}

.fa-file-pdf {
    /* Adobe color */
    color: #ff0000;
}
