body {
    background-color: #d8d8d8;
}

div#body {
    background-color: white;
    margin-top: 2rem;
    padding: 3rem;
}

h1 {
    color: #ce2029;
}

img {
    max-width: 100%;
    height: auto;
}

.card-body {
    padding: 0.5rem 1rem;
}

.card-body p:last-of-type {
    margin-bottom: 0;
}