body {
    background-color: #d8d8d8;
    padding-bottom: 5rem;
}

div#body {
    background-color: white;
    margin-top: 2rem;
    padding: 2rem 3rem;
    border-radius: 8px;
}

div#sidebar {
    background-color: white;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 8px;
}

#home-page #logo {
    margin-top: 20px;
    background-color: black;
}

    #home-page #logo img {
        display: block;
        margin: auto;
    }

#home-page .jumbotron {
    background-color: white;
}

h1 {
    color: #ce2029;
}

img {
    max-width: 100%;
    height: auto;
}

blockquote, .blockquote {
    margin-left: 3rem;
    margin-right: 3rem;
    font-size: 1rem;
    font-style: italic;
}

.tag {
    color: #ce2029;
}

.list-group-item.active .tag {
    color: white;
}

.tag.fas.fa-star {
    color: #ffd700;
}

.card-title {
    color: #ce2029;
}

.card-body {
    padding: 0.5rem 1rem;
}

    .card-body p:last-of-type {
        margin-bottom: 0;
    }

#navbar-links .fa-circle {
    color: #ce2029;
}

#navbar-links a:hover .fas.fa-circle {
    color: white;
}

#navbar-links a:hover .fa-inverse {
    color: #ce2029;
}

@media(min-width: 768px) {
    /* align navbar link captions centered under icons for md devices and up, must be same breakpoint as navbar-expand-**/
    #site-navbar #navbar-links ul {
        text-align: center;
    }

    #site-navbar #navbar-links span.caption {
        display: block;
    }

    /* navbar margins for md and up */
    #site-navbar .navbar-brand {
        margin-left: 1.5rem;
    }

    #site-navbar .navbar-nav {
        margin-right: 0.5rem;
    }
}

@media(min-width: 992px) {
    /* navbar margins for lg and up */

    #site-navbar .navbar-brand {
        margin-left: 3rem;
    }

    #site-navbar .navbar-nav {
        margin-right: 2rem;
    }
}
