@model EtAndHkIde.Models.ImageCollection
@{
    var lightboxGroup = Model.Name.ToLowerInvariant().Replace(" ", "-");
}
<div class="card-group">
    @for (var i = 0; i < Model.Images.Length; i++)
    {
        <div class="card">
            <a href="~/content/@Model.Images[i].Path" data-lightbox="@lightboxGroup">
                <img class="card-img-top" src="~/content/@Model.Images[i].Path" />
            </a>
        </div>
    }
</div>
